@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


body {
	margin:0px;
	padding:0px;
	background:#000;
}
#container {
	text-align:center;
}
.layout {
	
	width:100%;
	display:inline-block;
	
}
.layout_head {
	
	width:100%;
	display:inline-block;
	
}
#container #header {
	height:47px;
	background:#000;
	text-align:center;
	 background:url(/images/header-bg.jpg);
	 background-size:17px auto;
	 border-bottom:1px solid #131313;
}
#container #sidebar {
	float:left;
	width:168px;
	margin-right:40px;
}
#container #page {
	float:right;
	margin-right:10px;
	text-align: left;
	max-width:1050px;
	width: 550px;
	width: -webkit-calc(100% - 21px);
	width: -moz-calc(100% - 21px);
	width: calc(100% - 21px);
	background: #2c2c2c; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #2c2c2c 80%, #3b3b3b 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(80%,#2c2c2c), color-stop(100%,#3b3b3b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #2c2c2c 80%,#3b3b3b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #2c2c2c 80%,#3b3b3b 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #2c2c2c 80%,#3b3b3b 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #2c2c2c 80%,#3b3b3b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#3b3b3b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 62px 20px 20px;
	margin-top:47px;
	position:relative;

}





#lp_border{
	border-left: 2px solid #272727;
    border-right: 2px solid #272727;
    display: block;
    float: right;
    margin-top: -10px;
    padding: 9px 10px;
    position: relative;
    width: 100%;

}
#mb_border_s{
	border-left: 2px solid #272727;
    border-right: 2px solid #272727;
    display: block;
    float: left;
    margin-top: 0px;
    padding: 0 5px 3px;
    position: relative;
    width: 100px;
}
#mb_border{
	border-left: 1px solid #474747;
    border-right: 1px solid #474747;
    float: left;
    width: 102px;
    margin-top: -16px;
}
#mb_border_mobile{
	border-left: 1px solid #474747;
    border-right: 1px solid #474747;
    float: left;
    width: 102px;
    margin-top: 0px;
}
#header #login_panel {
	border-left: 1px solid #474747;
    border-right: 1px solid #474747;
    float: right;
    margin-top: -45px;
    padding: 7px 0 0;
    margin-right: 14px;
}

#header #login_panel a#button_login, #header #login_panel a#button_signup {
	color:#fff;
	cursor:pointer;
	text-decoration:none;
	margin-left:10px;
	font-size:14px;
}

#header #login_panel .current_user_photo {
	width:30px; 
	height:30px;
	border:1px solid #fff;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	display:block;
	float:left;	
	background:#fff;
}
#header #login_panel a.dropdown-toggle{
	font-size:14px;
	padding-top:6px;
	padding-bottom:0px;
	color:#fff;
	text-decoration:none;
}
#header #login_panel a.dropdown-toggle:hover{
	background:transparent;
	color:#fff;
	text-decoration:none;
}
#header #login_panel ul.dropdown-menu {width:80px;}
#header #login_panel ul.dropdown-menu a {
	padding-right: 15px;
    text-align: right;
}


#sidebar #menu {
	padding:0px;
	margin:0px;
	list-style:none;
	text-align:left;
}
#sidebar #menu li {
	height:36px;
	border-bottom:1px solid #e7e7e7;
}
#sidebar #menu li.active {
	font-weight:600;
	background:url(images/icon_menu_active.png) no-repeat right center;
	background-size:10px 15px;
}
#sidebar #menu li a {
	padding-left:18px;
	line-height:36px;
	text-transform:uppercase;
	font-size:16px;
	color:#000;
}
#sidebar #menu li a:hover {
	text-decoration:none;
	color:#ccc;
}
#sidebar #app_panel {
	background:#f3f3f3;
	width:168px;
	margin-top:23px;
	padding-top:20px;	
	padding-bottom:20px;	
}

#sidebar #app_panel #label{
	color:#000;
	font-weight:600;
	font-size:17px;
	margin-left:26px;
	text-align:Left;
}
#sidebar #link_app_store {
	background:url(/images/app_itune.png);
	width:138px;
	height:45px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	margin-top:16px;	
	margin-left:14px;
}
#sidebar #link_google_play {
	background:url(/images/app_google_play.png);
	width:139px;
	height:46px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	margin-left:14px;
	margin-top:10px;	
}

/**Common**/
.clear {
	clear:both;
}
.float-left { float:left; }
.float-right { float:right; }

/**Post**/
.feed_list {
	list-style:none;
	padding:40px;
	margin:0px;
	background:#fff;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  box-shadow: 2px 2px 19px #000;
        -o-box-shadow: 2px 2px 19px #000;
        -webkit-box-shadow: 2px 2px 19px #000;
        -moz-box-shadow: 2px 2px 19px #000;

        /* For IE 5.5 - 7 */
        /* for IE4 - IE7 */
        filter:
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#000);
        -ms-filter: "
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#000)
        ";
}
.feed_list .feed_item {
	text-align:left;
	width:100%;
	margin-bottom:45px;
}
.feed_list .feed_item .post_photo {
	width:40px; 
	height:40px;
	border:1px solid #aaa;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	display:block;
	float:left;
}

.feed_list .feed_item .post_name_time {
	margin-left:8px;
	float:left;
}

.feed_list .feed_item .post_name_time .post_name a{text-decoration:none;color:#000;}
.feed_list .feed_item .post_name_time .post_time {
	color:#797979;
	font-size:12px;
}
.feed_list .feed_item .post_like_count {
	font-size: 24px;
    font-weight: 400;
    margin-right: 18px;
    max-width: 50px;
    min-width: 25px;
    text-align: center;
	width: 30px;
}
.button_facebook {
	width:26px; height:27px;
	background:url(/images/icon_facebook.png);
	cursor:pointer; text-decoration:none;
	margin-right:13px;
	margin-top:5px;	
	background-size:26px 27px;
}
.button_twitter {
	width:26px; height:27px;
	background:url(/images/icon_twitter.png);
	cursor:pointer; text-decoration:none;
	margin-right:5px;
	margin-top:5px;		
	background-size:26px 27px;
}

.feed_list .feed_item .button_star {
	width:28px; height:28px;
	
	cursor:pointer; text-decoration:none;
	margin-top:4px;	
	background-size:28px 28px;
}

.feed_list .feed_item .button_star1 {
	width:28px; height:28px;
	
	cursor:pointer; text-decoration:none;
	margin-top:4px;	
	background-size:28px 28px;
}
.feed_list .feed_item .button_star2 {
	width:28px; height:28px;
	background:url(/images/icon_star2.png);
	cursor:pointer; text-decoration:none;
	margin-top:4px;	
	background-size:28px 28px;
}
.feed_list .feed_item .button_star3 {
	width:28px; height:28px;
	background:url(/images/icon_star3.png);
	cursor:pointer; text-decoration:none;
	margin-top:4px;	
	background-size:28px 28px;
}
.feed_list .feed_item .button_star4 {
	width:28px; height:28px;
	background:url(/images/icon_star4.png);
	cursor:pointer; text-decoration:none;
	margin-top:4px;	
	background-size:28px 28px;
}

.feed_list .feed_item .post_description {
	margin-top:10px;
	border-top:1px solid #dedede;
	padding-top:15px;
	padding-bottom:15px;
	font-size:17px;
	color:#000;
	width:100%;
	word-wrap:break-word;
}

.feed_list .feed_item .button_post_delete {
	float:right;
	width:16px;
	height:16px;
	background:url(/images/icon_delete_comment.png);
	background-size:100% 100%;
	cursor:pointer;
	text-decoration:none;
}
.feed_list .feed_item .post_thumbnail {
	width:100%;
	border:1px solid #aaa;
	position:relative;
	cursor:pointer;
}
.feed_list .feed_item .post_thumbnail iframe{
	width:100%;
}
.feed_list .feed_item .post_thumbnail img{
	width:100%;
	min-height:110px;
}
.feed_list .feed_item .post_thumbnail .play_icon{
	background:url(/images/icon_play.png);
	background-size:110px 110px;
	width:110px;
	height:110px;
	left:50%;
	top:50%;
	margin-top:-55px;
	margin-left:-55px;
	position:absolute;
}


.feed_list .feed_item .post_thumbnail .start_icon {
	width:150px;
	height:40px;
	left:60%;
	top:50%;
	margin-left:-75px;
	margin-top:0px;
	position:absolute;
	cursor:pointer;
	font-size:16px;
	color:#000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	background:#ccc;
	text-align:center;
	line-height:40px;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
	
}
.feed_list .feed_item .post_details {
	position:relative;
	min-height:200px;
}
.feed_list .feed_item .post_details_text {
	min-height:0px;
	font-style: italic;
	font-size: 20px;
}


.feed_list .feed_item .locked_layer {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#fff url(/images/lock_premium.png);
	background-repeat:no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	cursor:pointer; 
}
.locked_layer .key {
	font-size:16px;
	color:#000;
	text-align:center;
	width:80px;
	height:85px;
	background:url(/images/lock_key.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding-top:95px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-40px;
	margin-top:-50px;
}
.feed_list .feed_item .processing_layer {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#fff;
	background-repeat:no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	cursor:pointer; 
}
.feed_list .feed_item .processing_layer .process_icon {
	background:url(/images/processing.png);
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:center; 
	width:300px;
	height:150px;
	left:50%;
	top:50%;
	margin-top:-75px;
	margin-left:-150px;
	position:absolute;
	padding-top:120px;
	text-align:center;
	font-size:32px;
}

 .feed_list .feed_item .post_comments {
	padding: 15px 25px;
	border:1px solid #ededed;
	background:#fff;	
	
}
.feed_list .feed_item ul.post_comments{border:none; padding:0px;} 
.grey{background:#f8f8f8 !important; border-radius: 0 0 5px 5px; border-top:none !important;}
.feed_list .feed_item ul.post_comments li.comment_item {
	margin-top:15px;
	margin-bottom:10px;
}

.feed_list .feed_item ul.post_comments li.comment_item .comment_photo {
	width:40px; 
	height:40px;
	border:1px solid #aaa;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	display:block;
	float:left;
}

.feed_list .feed_item ul.post_comments li.comment_item .comment_name_time {
	margin-left:8px;
	float:left;
	width:100%;
}
.feed_list .feed_item ul.post_comments li.comment_item .comment_name_time .comment_name {
	font-size:15px;
	font-weight:600;
	color:#000;
	height:20px;
	line-height:20px;
	margin-left:5px;
	float:left;
}
.feed_list .feed_item ul.post_comments li.comment_item .comment_name_time .comment_name a{ text-decoration:none;color:#000;}
.feed_list .feed_item ul.post_comments li.comment_item .comment_name_time .comment_time {
	 color: #9b9b9b;
    float: left;
    font-size: 10px;
    margin: 2px 0 0 5px;
}
.feed_list .feed_item ul.post_comments li.comment_item .comment_content {
	color:#000;
	font-size:15px;
	font-weight:300;
	margin-left:5px;
	float:left;
	line-height: 20px;
}
.feed_list .feed_item ul.post_comments li.comment_item .button_comment_delete {
	float:right;
	width:16px;
	height:16px;
	background:url(/images/icon_delete_comment.png);
	background-size:100% 100%;
	cursor:pointer;
	text-decoration:none;
	margin-left:5px;
}
.feed_list .feed_item ul.post_comments .button_view_more_comments {
	margin-top:10px;
	color:#9b9b9b;
	font-size:12px;
	font-weight:600;
	cursor:pointer;
}

.feed_list .feed_item ul.post_comments .my_comment {
	margin-top:15px;
}
.feed_list .feed_item ul.post_comments .my_comment .mycomment_photo {
	width:40px; 
	height:40px;
	border:1px solid #aaa;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	display:none;
	float:left;	
}
.feed_list .feed_item ul.post_comments .my_comment .text_my_comment {
	margin-left:10px;
	font-size:12px;
	height:30px;
	border: 1px solid #eee;
    border-radius: 3px;
	margin-top:5px;
	/*width: -webkit-calc(100% - 60px);
	width: -moz-calc(100% - 60px);
	width: calc(100% - 60px);*/
	max-width:510px;
	padding-left:5px;
	padding-right:5px;
}

.video_feed_list .post_description { width:400px !important;float:left;margin:0px !important;padding:0px !important;border:0px !important;}


.ranking_list {
	background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    padding: 40px;
	
}
.ranking_list .user_photo {
	width:60px; 
	height:60px;
	border:1px solid #aaa;
	-webkit-border-radius: 30px !important;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important;
	display:block;
	float:left;	
	margin-bottom:15px;
}
.ranking_list .name {
	margin-left:8px;
	font-size:16px;
	float:left;
	text-decoration:none;
	color:#000;
}
.ranking_list .ranking_div {
	float:right;
}
.ranking_list .ranking_div .ranking { font-size: 30px;
    text-align: center;}
.ranking_list .ranking_div .points { font-size:16px;}


.like_users {
	
}
.approval_users {
	
}
.like_users .user_item {
	float:left;
	width:230px;
}
.approval_users .user_item {
	width:100%;
}
.like_users .user_photo,
.approval_users .user_photo {
	width:60px; 
	height:60px;
	border:1px solid #aaa;
	-webkit-border-radius: 30px !important;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important;
	display:block;
	float:left;	
	margin-bottom:15px;
}
.like_users .name,
.approval_users .name {
	margin-left:8px;
	font-size:16px;
	float:left;
	text-decoration:none;
	color:#000;
}
.check {
	float:right;
	width:20px;
	height:20px;
	background:url(/images/check.png);
	background-size:20px 20px;
	margin:7px;
}
/** Icons & Buttons**/



.error {
	font-size:14px;
	color:#f03030;
}



.photo_feed_list {
	background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 20px;
    width: 100%;
}
.photo_feed_list .feed_item {
	width: 33.3333%;
	margin-bottom:15px;
	position:relative;
	float:left;
	height: 160px;
}
@media screen and (max-width:627px) {
	.photo_feed_list .feed_item {
	height: 125px;
    
    width: 33.3333%;
}
}
@media screen and (max-width:479px) {
	.photo_feed_list .feed_item {
	height: 75px;
    
    width: 33.3333%;
}
}

.photo_feed_list .feed_item img {width:100%;height:100%;border:1px solid #b8b3b1;}

.photo_feed_list .feed_item .locked_layer {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#fff url(/images/lock_premium.png);
	background-repeat:no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	cursor:pointer; 
}

.filterBox {
	display:none;
	background:#f8f8f8;
	border:1px solid #e1e1e1;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;	
	padding:12px;
	width:100%;
	margin-bottom:10px;
	text-align:left;
	position:relative;
	height:45px;
}

.filterBox .dropdown {
	list-style:none;
}
.filterBox .dropdown-toggle,.filterBox .dropdown-toggle:hover {
	background:transparent !important;
	color:#000 !important;
	text-decoration:none;
}
.filterBox .dropdown-toggle b{
	margin-left:10px;
}
.filterBox .dropdown-menu li a { padding-left:10px; padding-right:10px; cursor:pointer;}

.filterBox .community_chooser {
	display:inline-block;
	text-decoration:none;
	color:#666;
	font-size:16px;
	cursor:pointer;
}
.filterBox .community_chooser.left {float:left;margin-left:60px;}
.filterBox .community_chooser.right {float:right;margin-right:60px;}
.filterBox .community_chooser b{
	font-weight:400;
	color:#666;
}
.filterBox .community_chooser b.active{
	font-weight:400;
	color:#000;
}
.community_new_post_box {
	background:#f8f8f8;
	border:1px solid #e1e1e1;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;	
	padding:12px;
	width:100%;
	margin-bottom:15px;
	text-align:left;
}
.community_new_post_box a {
	display:inline-block;
	text-decoration:none;
	color:#666;
	font-size:16px;
	cursor:pointer;	
}
.community_new_post_box a.active {
	display:inline-block;
	text-decoration:none;
	font-weight:600;
	color:#000;
	font-size:16px;
	cursor:pointer;	
}
.community_new_post_box .new_post_type_text {
	
	background:url(/images/icon_post_text.png);
	background-repeat:no-repeat;
	padding-left:35px;
	margin-left:10px;
	width:115px;
	background-size:25px;
}
.community_new_post_box .new_post_type_photo {
	
	background:url(/images/icon_post_photo.png);
	background-repeat:no-repeat;
	padding-left:35px;
	margin-left:10px;
	width:125px;	
	background-size:25px;
}
.community_new_post_box .new_post_type_video {
	background:url(/images/icon_post_media.png);
	background-repeat:no-repeat;
	padding-left:35px;
	margin-left:0px;	
	background-size:25px;
}
.community_new_post_box .new_post_details {
	background:#fff;
	border:1px solid #e1e1e1;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;	
	padding:12px;
	width:100%;
	margin-top:13px;
	margin-bottom:7px;
	text-align:left;
	height:60px;	
	position:relative;
}
.community_new_post_box .new_post_details:before {
	position:absolute;
	width: 0px;
	height: 0px;
	top:-11px;
	border-style: solid;
	border-width: 0 8.5px 11px 8.5px;
	border-color: transparent transparent #e1e1e1 transparent;
	content:"";
}
.community_new_post_box .new_post_details:after {
	position:absolute;	
	width: 0px;
	height: 0px;
	top:-10px;	
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent #fff transparent;	
	content:"";
}
.community_new_post_box .new_post_details.text {height:60px;}
.community_new_post_box .new_post_details.photo, .community_new_post_box .new_post_details.video {height:90px;}
.community_new_post_box .new_post_details.text:before {	left:33px;}
.community_new_post_box .new_post_details.text:after {	left:34px;}
.community_new_post_box .new_post_details.photo:before {	left:202px;}
.community_new_post_box .new_post_details.photo:after {	left:203px;}
.community_new_post_box .new_post_details.video:before {	left:381px;}
.community_new_post_box .new_post_details.video:after {	left:382px;}
.community_new_post_box .new_post_details textarea#new_post_text {
	resize:none;
	width:415px;
	height:32px;
	padding:5px;
	font-size:14px;
	float:left;
	border:0px;
}
.community_new_post_box .new_post_details input#new_post_file {
	font-size:14px;
	float:left;
	border:0px;
	height:32px;
	padding:5px;
}
.community_new_post_box .new_post_details textarea#new_post_description {
	resize:none;
	width:315px;
	height:32px;
	padding:5px;
	font-size:14px;
	float:left;
	border:0px;
}
.community_new_post_box .new_post_details img#img_preview {
	width:100px;
	height:70px;
	float:right;
	margin-top: -77px;
	margin-right: 20%;
	border: 0px;
}
.community_new_post_box .new_post_details button#button_post {
	text-align:center;
	font-size:14px;
	background:#000;
	color:#fff;
	border:1px solid #666;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	width:70px;
	height:30px;	
	float:right;
}


.profile_container {
	background-color: #fff;
    float: left;
    padding: 20px;
    width: 100%;
    border-radius:3px;
}
.profile_container .user_photo {
	width:140px; 
	height:140px;
	border:1px solid #aaa;
	-webkit-border-radius: 70px !important;
	-moz-border-radius: 70px !important;
	border-radius: 70px !important;
	display:block;
	float:left;	
}
.profile_container .name {
	margin-left:40px;
	font-size:30px;
	color:#000;
	text-align:left;
	float:left;
	margin-top:10px;	
}
.profile_container .buttons {
	float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.profile_container .buttons label { margin:0px; }
.profile_container .buttons button{
	width:80px;
	height:30px;
	text-align:center;
	margin-left:10px;
	font-size:14px;
	background:#000;
	color:#fff;
	border:1px solid #666;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
}
.profile_container .meta-info-box {
	float:left;	
	text-align: center;
}
.profile_container .followers, .profile_container .followings, .profile_container .points {
	border-right:1px solid #c4c4c4;
	margin-top:20px;
	height:56px;
	width:110px;
	font-size:18px;
	color:#666;
	float:left;	
}
.profile_container .number { font-size:30px; color:#000; margin-bottom:0px;}
.profile_container .followers { margin-left:20px; }
.profile_container .followings { width:140px; }
.profile_container .points { border:0px; }

.filterBox .profile_filter {
	display:inline-block;
	text-decoration:none;
	color:#666;
	font-size:16px;
	cursor:pointer;
	float:left;
	margin-left:90px;
}
.filterBox .profile_filter.myfeed {margin-left:35px;}
.filterBox .profile_filter.active{
	font-weight:400;
	color:#000;
}

.filterBox.myfeed:before {left:54px;}
.filterBox.myfeed:after {left:55px;}
.filterBox.unlockedcontent:before {left:204px;}
.filterBox.unlockedcontent:after {left:205px;}
.filterBox.mylike:before {left:414px;}
.filterBox.mylike:after {left:415px;}
/** Loading Bubble **/
#loading_bubble_container { position:absolute; z-index:10000;left:0px;top:0px;width:100%;height:100%;}
#loading_bubble_container .overlay {
	position:absolute;
	left:0px;
	top:0px;
	z-index:10001;
	width:100%;
	height:100%;
	
}
#loading_bubble {position:fixed;z-index:10002;}

.bubblingG {	text-align: center;	width:80px;	height:50px;}
.bubblingG span {	display: inline-block;	vertical-align: middle;	width: 10px;	height: 10px;	margin: 25px auto;	background: #000000;-moz-border-radius: 50px !important;-moz-animation: bubblingG 1.6s infinite alternate;-webkit-border-radius: 50px !important;-webkit-animation: bubblingG 1.6s infinite alternate;-ms-border-radius: 50px !important;-ms-animation: bubblingG 1.6s infinite alternate;-o-border-radius: 50px !important;-o-animation: bubblingG 1.6s infinite alternate;border-radius: 50px;animation: bubblingG 1.6s infinite alternate;}
#bubblingG_1 {-moz-animation-delay: 0s;-webkit-animation-delay: 0s;-ms-animation-delay: 0s;-o-animation-delay: 0s;animation-delay: 0s;}
#bubblingG_2 {-moz-animation-delay: 0.48s;-webkit-animation-delay: 0.48s;-ms-animation-delay: 0.48s;-o-animation-delay: 0.48s;animation-delay: 0.48s;}
#bubblingG_3 {-moz-animation-delay: 0.96s;-webkit-animation-delay: 0.96s;-ms-animation-delay: 0.96s;-o-animation-delay: 0.96s;animation-delay: 0.96s;}
@-moz-keyframes bubblingG {0% {width: 10px;height: 10px;background-color:#000000;-moz-transform: translateY(0);}100% {width: 24px;height: 24px;background-color:#FFFFFF;-moz-transform: translateY(-21px);}}
@-webkit-keyframes bubblingG {0% {width: 10px;height: 10px;background-color:#000000;-webkit-transform: translateY(0);}100% {width: 24px;height: 24px;background-color:#FFFFFF;-webkit-transform: translateY(-21px);}}
@-ms-keyframes bubblingG {0% {width: 10px;height: 10px;background-color:#000000;-ms-transform: translateY(0);}100% {width: 24px;height: 24px;background-color:#FFFFFF;-ms-transform: translateY(-21px);}}
@-o-keyframes bubblingG {0% {width: 10px;height: 10px;background-color:#000000;-o-transform: translateY(0);}100% {width: 24px;height: 24px;background-color:#FFFFFF;-o-transform: translateY(-21px);}}
@keyframes bubblingG {0% {width: 10px;height: 10px;background-color:#000000;transform: translateY(0);}100% {width: 24px;height: 24px;background-color:#FFFFFF;transform: translateY(-21px);}}

#waitingCircleFrame{position:absolute;width:25px;height:25px;z-index: 200;}
#floatingCirclesG{position:relative;width:25px;height:25px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);}
.f_circleG{position:absolute;background-color:#FFFFFF;height:5px;width:5px;-moz-border-radius:2px !important;-moz-animation-name:f_fadeG;-moz-animation-duration:1.04s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:2px !important;-webkit-animation-name:f_fadeG;-webkit-animation-duration:1.04s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:2px !important;-ms-animation-name:f_fadeG;-ms-animation-duration:1.04s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:2px !important;-o-animation-name:f_fadeG;-o-animation-duration:1.04s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:2px;animation-name:f_fadeG;animation-duration:1.04s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:10px;-moz-animation-delay:0.39s;-webkit-animation-delay:0.39s;-ms-animation-delay:0.39s;-o-animation-delay:0.39s;animation-delay:0.39s;}
#frotateG_02{left:3px;top:3px;-moz-animation-delay:0.52s;-webkit-animation-delay:0.52s;-ms-animation-delay:0.52s;-o-animation-delay:0.52s;animation-delay:0.52s;}
#frotateG_03{left:10px;top:0;-moz-animation-delay:0.65s;-webkit-animation-delay:0.65s;-ms-animation-delay:0.65s;-o-animation-delay:0.65s;animation-delay:0.65s;}
#frotateG_04{right:3px;top:3px;-moz-animation-delay:0.78s;-webkit-animation-delay:0.78s;-ms-animation-delay:0.78s;-o-animation-delay:0.78s;animation-delay:0.78s;}
#frotateG_05{right:0;top:10px;-moz-animation-delay:0.91s;-webkit-animation-delay:0.91s;-ms-animation-delay:0.91s;-o-animation-delay:0.91s;animation-delay:0.91s;}
#frotateG_06{right:3px;bottom:3px;-moz-animation-delay:1.04s;-webkit-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;animation-delay:1.04s;}
#frotateG_07{left:10px;bottom:0;-moz-animation-delay:1.17s;-webkit-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;animation-delay:1.17s;}
#frotateG_08{left:3px;bottom:3px;-moz-animation-delay:1.3s;-webkit-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;animation-delay:1.3s;}
@-moz-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}


.select_facebook_page_dialog .modal-dialog .contents, .buy_credit_dialog .modal-dialog .contents{
	margin:10px;
}

.buy_credit_dialog .modal-dialog .contents #new_card_panel {
	margin-left:30px;
}
.view_privacy_dialog .modal-dialog {
	width:700px;
}
.view_privacy_dialog .modal-dialog .modal-content {
	min-height:700px;
}

.login_dialog .modal-dialog {
	width:440px;
	margin-top:150px;
}
#login_dialog {
	width:100%;
	height:100%;
	background:#f0f0f0;
	font-family:"Raleway","Myriad Pro";
	font-size:18px;
}
#login_dialog .modal_header {
	width:100%;
	height:150px;
	text-align:center;
	background:#000;
	height:79px;	
}
#login_dialog .contents {
	text-align:center;
	padding-bottom:25px;	
}
#login_dialog .contents button {
	width:270px;
	height:40px;
	cursor:pointer;
	font-family:"Raleway","Myriad Pro";
	font-size:18px;
	text-align:center;
	border:1px solid #fff;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
}
#login_dialog .contents button:active {
	border:1px solid #fff;
}
#login_dialog .contents #button_signin_with_facebook {
	background:#335cc4;
	margin-top:30px;
	color:#fff;	
}
#login_dialog .contents #button_signup_with_email {
	background:#fff;
	margin-top:12px;
	color:#000;	
	margin-bottom:25px;
}
#login_dialog .contents #button_signin_now {
	text-decoration:none;
	cursor:pointer;
	color:#000;
}


.login_email_dialog .modal-dialog .titlebar,
.signup_dialog .modal-dialog .titlebar{
	height:30px;
}
.modal-dialog .titlebar .button_close{
	width:15px;
	height:18px;
	background:url(/images/icon_close.png) no-repeat;
	cursor:pointer;
	float:right;
	margin-right:10px;
	margin-top:-10px;
}


.signup_dialog .modal-dialog {
	width:440px;
	margin-top:150px;
	background:#f0f0f0;	
}
#signup_dialog {
	width:100%;
	height:100%;
	font-family:"Raleway", 'Neris' !important;	
	font-size:20px;
}
#signup_dialog .modal_header {
	width:100%;
	height:70px;
	text-align:center;
	margin-top:10px;
}
#signup_dialog .modal_header img{
	margin-right:10px;
}
#signup_dialog .contents {
	text-align:center;
	margin-top:5px;	
	padding-bottom:25px;	
}
#signup_dialog .contents input[type=text],#signup_dialog .contents input[type=password] {
	width:260px;
	height:30px;
	border:1px solid #d6d6d6;
	margin-top:15px;
	padding-left:10px;
	font-size:16px;
}
#signup_dialog .contents button {
	width:270px;
	height:40px;
	cursor:pointer;
	font-family:"Raleway","Myriad Pro";
	font-size:18px;
	text-align:center;
	border:1px solid #fff;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
}
#signup_dialog .contents button:active {
	border:1px solid #fff;
}
#signup_dialog .contents #button_signup {
	background:#335cc4;
	margin-top:24px;
	color:#fff;
	background:#000;	
}




.login_email_dialog .modal-dialog {
	width:440px;
	margin-top:150px;
	background:#f0f0f0;	
}
#login_email_dialog {
	width:100%;
	height:100%;
	font-family:"Raleway", 'Neris' !important;	
	font-size:20px;
}
#login_email_dialog .modal_header {
	width:100%;
	height:70px;
	text-align:center;
	margin-top:10px;
}
#login_email_dialog .modal_header img{
	margin-right:10px;
}
#login_email_dialog .contents {
	text-align:center;
	margin-top:5px;	
	padding-bottom:25px;	
}
#login_email_dialog .contents input[type=text], #login_email_dialog .contents input[type=password] {
	width:260px;
	height:30px;
	border:1px solid #d6d6d6;
	margin-top:15px;
	padding-left:10px;
	font-size:16px;
}
#login_email_dialog .contents button {
	width:270px;
	height:40px;
	cursor:pointer;
	font-family:"Raleway","Myriad Pro";
	font-size:18px;
	text-align:center;
	border:1px solid #fff;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
}
#login_email_dialog .contents button:active {
	border:1px solid #fff;
}
#login_email_dialog .contents #button_login {
	background:#335cc4;
	margin-top:15px;
	margin-bottom:15px;
	color:#fff;
	background:#000;	
}
#login_email_dialog .contents #button_forget_password {
	color:#000;	
	text-decoration:none;
	font-size:16px;
	cursor:pointer;
}

.view_post_detail_dialog .modal-dialog {
	width:calc(100%-21px);
}


.like_users_dialog  .modal-dialog {
	width:750px;
}
.like_users_dialog .modal-dialog .modal-content{
	padding:20px;	
}
.send_message_dialog .modal-dialog {
	width:440px;
}
.send_message_dialog .modal-dialog .modal-content{
	padding:20px;	
}
.send_message_dialog .receiver_photo {
	width:40px;
	height:40px;
	border:1px solid #aaa;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	display:block;
	float:left;	
	margin-right:10px;
}
.send_message_dialog #text_new_message {
	font-size:14px;
	border:1px solid #aaa;
	color:#000;
	width:345px;
	height:200px;
	resize:none;
	float:left;
}
.send_message_dialog #button_send_message {
	margin-top:10px;
	text-align:center;
	font-size:14px;
	background:#000;
	color:#fff;
	border:1px solid #666;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	width:70px;
	height:30px;	
	float:right;	
}

.confirm_dialog {
	margin-top:100px;
}
.confirm_dialog .modal-dialog {
	width:400px;
}
.confirm_dialog .modal-header {
	font-size:14px;
	color:#000;
	height:30px;
	padding:5px;
	font-weight:600;
	text-align:center;
}
.confirm_dialog .modal-body {
	font-size:14px;
	text-align:left;
	padding-bottom:5px;
}
.confirm_dialog .modal-footer {
	text-align:center;
	padding:5px;
	padding-bottom:25px;
	border-top:0px;
}
.confirm_dialog .modal-footer button {
	margin-top:10px;
	text-align:center;
	font-size:14px;
	background:#000;
	color:#fff;
	border:1px solid #666;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	line-height:30px !important;
	padding:0px !important;	
	width:70px;
	height:30px;		
}
.confirm_dialog .modal-footer #button-cancel {margin-left:15px;}

.view_message_dialog .modal-dialog {
	width:440px;
	margin-top:100px;	
}
.view_message_dialog .modal-dialog .modal-content{
	padding:20px;	
}

.view_message_dialog #button_reply {
	text-align:center;
	font-size:14px;
	background:#000;
	color:#fff;
	border:1px solid #666;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	line-height:30px !important;
	padding:0px !important;
	width:70px;
	height:30px;	
	float:right;	
}
.view_message_dialog .from {
	font-size:14px;
	color:#000;
	text-align:left;
}
.view_message_dialog .from label { font-weight:600; width:80px; }
.view_message_dialog .message { font-size:14px; color:#000; text-align:left;min-height:300px;}



.syndicate_dialog .modal-dialog {
	margin-top:100px;
	width:400px;
}
.poll_quiz_dialog .modal-dialog {
	width:calc(100%-221px);
	margin-top:100px;	
}
.poll_quiz_dialog .modal-dialog .modal-content{
	padding:20px;	
}
.poll_quiz_dialog .header-column {
	text-align:right;
}
.poll_quiz_dialog .header-column .close_icon {
	display:inline-block;
	background:url(/images/icon_close.png);
	width:15px;
	height:18px;
	cursor:pointer;
}
.poll_quiz_dialog .question{
	font-size:16px;
	color:#000;
	line-height:30px;
}
.poll_quiz_dialog .question .question-index {
	border-bottom:1px solid #ebebeb;
	font-weight:bold;
	font-size:16px;
	height:25px;
	line-height:25px;
}
.poll_quiz_dialog .answers {
	border:1px solid #ebebeb;
	position:relative;
	height:350px;	
	overflow:hidden;
}
.poll_quiz_dialog .answers .background-image {
    opacity: 0.2;
    width: 100%;
}
.poll_quiz_dialog .answers .answers_content{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}
.poll_quiz_dialog .answers .answers_content .share_buttons {
	margin-top:10px;
	text-align:right;
	height:30px;
}
.poll_quiz_dialog .answers .answers_content .share_buttons label{
	line-height:30px;
	font-size:16px;
	margin-right:10px;
}
.poll_quiz_dialog .answers .answers_content .share_buttons .button_twitter {
	margin-right:10px;
}
.poll_quiz_dialog .answers .answers_content .answers_list {
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:20px;
	height: -webkit-calc(100% - 120px);
	height: -moz-calc(100% - 120px);
	height: calc(100% - 120px);
}
.poll_quiz_dialog .answers .answers_content .answers_list .answer_item {
	font-size:16px;
}
.poll_quiz_dialog .answers .answers_content .answers_list .answer_item input {
	margin-right:10px;
}
.poll_quiz_dialog .answers .answers_content .answers_list .answer_item .percent_bar {
	background:#00cc66;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	text-align:center;
	font-size:16px;	
	
}
.poll_quiz_dialog .answers .answers_content .answers_list .result_title {
	font-size:32px;
	font-weight:bold;
	display:block;
	text-align:center;
	margin-bottom:30px;	
}
.poll_quiz_dialog .answers .answers_content .answers_list .result {
	font-size:20px;
	line-height:25px;
	margin-bottom:30px;
}
.poll_quiz_dialog .answers .answers_content .answers_list .result b{
	color:#33ff33;
}
.poll_quiz_dialog .answers .answers_content .answer_buttons {
	height:50px;
	text-align:right;
	margin-right:10px;	
}
.poll_quiz_dialog .answers .answers_content .answer_buttons button {
	width:80px;
	height:30px;
	font-size:14px;
	background:#fff;
	color:#000;
	border:1px solid #ebebeb;	
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;	
}


.login_music_player .modal-dialog {
	width:450px;
	margin-top:100px;	
}
.login_music_player .modal_header {
	border-bottom:1px solid #ebebeb;
}
.login_music_player .modal_header img {
	width:30px;
}
.login_music_player .contents {
}
.login_music_player .contents .current_music {
	border-bottom:1px solid #ebebeb;
	padding:5px;
}
.login_music_player .contents .current_music .cover {
	height:120px;
	float:left;
	margin-right:20px;
}
.login_music_player .contents .current_music .cover img{
	height:100%;
}
.login_music_player .contents .current_music .info {
	float:left;
	width:290px;
}
.login_music_player .contents .current_music .info label {
	font-size:14px;
	margin-bottom:10px;
	display:block;
}
.login_music_player .contents .current_music .info a.button_buy {
	border:1px solid #000;
	color:#000;
	font-size:14px;
	cursor:pointer;
	padding:3px;
	text-decoration:none;
}
.login_music_player .contents  .buttons {
	border-bottom:1px solid #ebebeb;
	padding:5px;	
	text-align:center;
}
.login_music_player .contents .buttons .button_prev {
	width:30px;
	height:30px;
	background:#fff url(/images/media_btn_prev.png) no-repeat;
	background-size:100% 100%;
	float:left;
	border:0px;
	margin-left:50px;
}
.login_music_player .contents .buttons .button_next {
	width:30px;
	height:30px;
	background:#fff url(/images/media_btn_next.png) no-repeat;
	background-size:100% 100%;
	float:right;
	border:0px;
	margin-right:50px;	
}

.login_music_player .contents .buttons .button_play {
	width:30px;
	height:30px;
	background:#fff url(/images/media_btn_play.png) no-repeat;
	background-size:100% 100%;
	border:0px;
}
.login_music_player .contents .buttons .button_paused {
	width:30px;
	height:30px;
	background:#fff url(/images/media_btn_pause.png) no-repeat;
	background-size:100% 100%;
	border:0px;
}
.login_music_player .contents .lists {
	height:150px;
	overflow:scroll;
	overflow-x:auto;	
	overflow-y:auto;
}
.login_music_player .contents .lists .item {
	padding:5px;
	font-size:14px;
	background:#fff;
	color:#000;
}
.login_music_player .contents .lists .item.active {
	padding:5px;
	font-size:14px;
	background:#ebebeb;
	color:#000;
}


.inbox {
	
}
.inbox-item {
	border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.inbox-item .message_status {width:10px; float:left; height:10px;margin-top:15px;margin-left:10px;margin-right:10px;}
.inbox-item .message_status.icon_new {background:#007aff;	-webkit-border-radius: 5px !important;	-moz-border-radius: 5px !important;	border-radius: 5px !important;}
.inbox-item .sender_photo { width:40px; height:40px; 
	border:1px solid #aaa;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
	display:block;
	float:left;}
.inbox-item .sender_time { float:left; margin-left:10px;text-align:left;}
.inbox-item .sender_time .sender_name { color:#000; font-size:16px; text-decoration:none;}
.inbox-item .sender_time .timestamp { color:#666;  font-size:14px;}
.inbox-item .contents { float:left; font-size:14px; color:#666; margin-left:15px; cursor:pointer; width:300px;text-align:left; }


#userinfo_update_panel {
	 border-radius: 3px;
	
}
#userinfo_update_panel .field { margin-top:10px;margin-bottom:10px; font-size:14px; text-align:left;}
#userinfo_update_panel .field label { float:left; width:150px; text-align:left; color:#666; }
#userinfo_update_panel .field input[type=text], #userinfo_update_panel .field input[type=password] {
	width:300px !important; height:25px !important;
}
#userinfo_update_panel .field input[type=radio] { margin-right:5px;}

#userinfo_update_panel #button_update {
	margin-top:10px;
	text-align:center;
	font-size:14px;
	background:#000;
	color:#fff;
	border:1px solid #666;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	width:70px;
	height:30px;	
}
/** NG animate **/
.fade-show-setup, .fade-hide-setup {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -ms-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
}


.invisible {
	visibility:hidden;
}

#invites_panel {
	margin-top:20px;
}
.FB-invite-friends a {
  font-family:"Raleway", tahoma, verdana, arial, sans-serif !important;
  font-weight:bold !important;
  font-size:12px !important;
  width:150px !important;
  border:solid #29447e 1px !important;
  border-bottom:solid #29447e 1px !important;
  cursor:pointer !important;
  padding:6px 6px 6px 6px !important;
  background-color:#5c75a9 !important;
  border-top:solid #8a9cc2 1px !important;
  text-align:center !important;
  color:#fff !important;
  text-decoration:none  ! important;
 }
 .FB-invite-friends a:active {
  background-color:#4f6aa3 !important;
 }
 
 
 
 
 
 
 /**settings section **/

 .settings_frame {
	border:1px solid #e0e0e0;
	border-radius: 5px;
	margin: 0 10px;
 }
 
 .settings_frame .title{
	background:#f0f0f0;
 	height:30px;
 	font-size:18px;
 	line-height:30px;
 	padding-left: 10px;
 	color: #333;
 }
 .settings_frame .contents {
	padding:10px;
 	text-align:center;
 	background: none repeat scroll 0 0 #fff;
 }
 
 #userinfo_update_panel input{background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;}
 
 #userinfo_credits .contents{
	font-size:16px;
 }
 #userinfo_credits .contents div{
	display:inline-block;
 }
 #userinfo_credits .contents .credit {
	color:#ff9030;
 	font-weight:bold;
 	padding-left:5px;
 	padding-right:5px;
 }
 #userinfo_credits .contents #button_buy_more {
	border:1px solid #ff9030;
 	background:#fff;
 	color:#ff9030;
 	padding-left:10px;
 	padding-right:10px; 	
 	margin-left:10px;
 	cursor:pointer;
 	font-size:16px;
 	display:inline-block;
 }
 
 #socialsharing_panel {
	
 }
 #socialsharing_panel .switchery {
	border-radius:20px !important;
 }
 #socialsharing_panel .field {
	padding:5px;
 }
 #socialsharing_panel .field label.label_facebook {
	background:url(/images/facebook_icon.jpg) no-repeat;
 	background-size:24px 24px;
 	padding-left:30px;
 	color:#3c599f;
 	cursor:pointer;
 }
 #socialsharing_panel .field div.label_twitter{
	background:url(/images/twitter_icon.png) no-repeat;
 	background-size:24px 20px;
 	padding-left:30px;
 	color:#5ea9dd;
 	height: 24px;
    text-align: left;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
 } 
 #socialsharing_panel .field label {
	width:200px;
 	height:24px;
 	text-align:left;
 	float:none !important;
 }
 
 .select_facebook_page_dialog ul {
 	padding-left: 30px;
	padding-right: 30px;
}
 .select_facebook_page_dialog ul li {
	list-style: none;
	font-size: 14px;
	text-align: center;
	height: 40px;
	border: 1px solid #fff;
	padding: 0px;
	margin: 0px;
	line-height: 40px;
	cursor: pointer;
	background: #fff;
 }
.select_facebook_page_dialog ul li.selected {
	font-weight:bold;
	border: 1px solid #eee;
	background: #f0f0f0;
 }
 .select_facebook_page_dialog legend{
	height:40px;
 }
 .select_facebook_page_dialog button {
	margin-bottom:20px;
 }
 
 .button_approve_draft, .button_publish_draft, .button_approved_draft {
	float:right;
 	margin-top:5px;
 }
 .button_approved_draft {
	color:#808080;
 }
 
 .pc_white{
 	background:#fff;
 }

 .no-border-top{
 	border-top: none !important;
 }
 

 .headroom {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: .25s
    -o-transition: .25s
    -moz-transition: .25s
    -ms-transition: .25s
    transition: transform .25s ease-in-out;
}
.headroom--unpinned {
    top: -48px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
  -webkit-transform: translateY(-48px);
  -o-transform: translateY(-48px);
  -moz-transform: translateY(-48px);
  -ms-transform: translateY(-48px);
  transform: translateY(-48px);
}

.headroom--pinned {
   top: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.topDrop{

	position:absolute;
	top:47px;
	left:25%;
}

header{

	position:relative;
}

li.dropdown a.dropdown-toggle{

	background:none !important;
}

ul.nav.navbar-nav.navbar-left.ng-scope li.dropdown.open ul.dropdown-menu li, ul.nav.navbar-nav.navbar-right.ng-scope li.dropdown.open ul.dropdown-menu li{
	border-top:1px solid #252525;
	border-bottom:1px solid #666;
	text-align: left;
    text-transform: capitalize;
    background:#373737;
}

ul.nav.navbar-nav.navbar-left.ng-scope li.dropdown.open ul.dropdown-menu li:hover, ul.nav.navbar-nav.navbar-left.ng-scope li.dropdown.open ul.dropdown-menu li.active{
	background:none !important;
	}



ul.nav.navbar-nav.navbar-right.ng-scope li.dropdown ul.dropdown-menu{

	margin-top: 13px;
    right: 3px;
}
ul.nav.navbar-nav.navbar-left.ng-scope li.dropdown.open ul.dropdown-menu{
	left: 15px;
	top:47px;
}

#title_background{
	text-transform: uppercase;
	border-bottom: 1px solid #474747;
    border-top: 1px solid #474747;
    color: #afafaf;
    font-size: 15px;
   
    left: 0;
    line-height: 10px;
  

    text-align: center;
  
    width: 100%;

}

.top_title{
	 border-bottom: 1px solid #272727;
    border-top: 1px solid #272727;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;

}

#help_contents{
	background:#fff;
	border-radius: 5px;
    padding: 20px 40px;
    box-shadow: 2px 2px 19px #000;
        -o-box-shadow: 2px 2px 19px #000;
        -webkit-box-shadow: 2px 2px 19px #000;
        -moz-box-shadow: 2px 2px 19px #000;

        /* For IE 5.5 - 7 */
        /* for IE4 - IE7 */
        filter:
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#000);
        -ms-filter: "
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#000),
            progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#000)
        ";
}


#photo_display_toggle { float: right;
    position:absolute;
    top:13px;
    right:20px;
    text-align: right;
    width: 50%;
}

#photo_display_toggle a{ width:30px;  margin-left:10px; cursor: pointer; color:#000; text-align: right;}

#message_wrapper, #inbox{background:#fff;
padding:30px;
width:100%;
border-radius:5px;}
.message_wrapper{background:#fff;
padding:30px;
width:100%;
border-radius:5px;}
div.clear{margin-bottom:10px;}

object#myExperience{width:100%; z-index:0;}

.comment_info{
	float:left;
	margin-left: -5px;
	width: 100%;
}

.frozen{
	overflow: hidden;
	position:fixed;
	opacity:0.5;
	left:150px;
}

.button_close{
width:15px;
	height:18px;
	background:url(/images/icon_close.png);
	cursor:pointer;
	float:right;
	margin-right:10px;
	margin-top:10px;
}

ul.feed_list.ng-scope li.feed_item.quiz.ng-scope div.post_frame div.post_details div.post_thumbnail.ng-scope img.ng-scope{
height:110px;
width:110px;
}

.post_description_quiz{
	float: right;
    margin: 10px 10px 10px 5px;
    width: 70%;
}
.mobile-post{
		display:none;
	}

.post_ad{

	
	width:468px;
	height:60px;
	margin:-10px 20px 20px;
}

.post_ad_wrapper{
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #ededed;
    border-radius: 3px;
    height: 80px;
    margin-bottom: 20px;
    padding: 20px 15px 20px 10px;
    width: 528px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
	.mobile-post{
		display:block;
		margin-top:10px;
		margin-left:-5px;
	}

	.post_ad_wrapper{
		display:none;
	}

	.feed_list {

	padding:10px 5px !important;
	}

	#container #page {
	padding-left:0px !important;
	padding-right:0px !important;
	}

	.modal-content {
	    padding-left:0px !important;
	    padding-right:0px !important;
	    padding-top: 20px;
	}

	.login_dialog .modal-dialog {
	    margin-top: 50px;
	    width: 340px;
	}

	.modal-dialog, .signup_dialog .modal-dialog, .login_dialog .modal-dialog {
		width:calc(100%-21px);
	}

	.comment_info{
		width:100%;
	}

	ul.feed_list.ng-scope li.feed_item.quiz.ng-scope div.post_frame div.post_details div.post_thumbnail.ng-scope{

		min-height:none !important;
	}
	.post_description_quiz {
		width:50% !important;
	}
	.community_new_post_box .new_post_details button#button_post {margin-top:-30px;}
	.community_new_post_box .new_post_type_photo, .community_new_post_box .new_post_type_video ,.community_new_post_box .new_post_type_text {width:90px;margin-left:0px;}

	.filterBox .community_chooser.right { margin-right:0px;}
	.filterBox .community_chooser.left { margin-left:0px;}
	.profile_container .followers, .profile_container .followings, .profile_container .points {
	    border-right: 1px solid #c4c4c4;
	    color: #666;
	    float: left;
	    font-size: 12px;
	    height: 56px;
	    margin-top: 20px;
	    width: 70px;
	}
	.filterBox .profile_filter.myfeed {
		margin-left:0px;
	}
	.filterBox .profile_filter {
		margin-left:20px;
		font-size:12px;
	}


	div#help_contents.ng-scope img{
		width:80%;
		margin:0 auto;
	}

	.community_new_post_box .new_post_details img#img_preview { display:none; }

	#userinfo_update_panel .field input[type="text"], #userinfo_update_panel .field input[type="password"] {
	    height: 25px !important;
	    width: 80% !important;
	}
	.community_new_post_box .new_post_details textarea#new_post_text {
	width: 80% !important;
	}

	.view_message_dialog .modal-dialog {
		width:100%;
	}
	.send_message_dialog #text_new_message {
		width:100%;
	}
	.send_message_dialog .modal-dialog {
		width:100%;
	}
	.feed_list .feed_item .post_comments .my_comment .text_my_comment {
    width: 90%;
	}

	.post_ad{

		background:url(/images/468x60.gif);
		width:200px;
		height:26px;
		margin:-10px 20px 20px;
		background-size:200px 26px;
	}	

	.post_ad_wrapper{
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #ededed;
    border-radius: 3px;
    height: 50px;
    
    padding: 20px;
    width: 280px;
    margin:0 auto 20px;
	}

	.button_close {
    background: url(/images/icon_close.png) no-repeat scroll 0 0 / 15px 18px rgba(0, 0, 0, 0);
    clear: both;
    cursor: pointer;
    float: right;
    height: 18px;
    margin-right: 10px;
    margin-top: 10px;
    width: 100%;
    padding:10px;
    background-position:right top;
	}

	.community_new_post_box .new_post_details textarea#new_post_text {
		width:70%;
	}
	.community_new_post_box .new_post_details textarea#new_post_description {
		width:70%;
	}

	.community_new_post_box .new_post_details.text:before {	left:3px;}
	.community_new_post_box .new_post_details.text:after {	left:4px;}
	.community_new_post_box .new_post_details.photo:before {	left:89px;}
	.community_new_post_box .new_post_details.photo:after {	left:90px;}
	.community_new_post_box .new_post_details.video:before {	left:184px;}
	.community_new_post_box .new_post_details.video:after {	left:185px;}

	 #socialsharing_panel .field label {
		
	 	float:left !important;
	 }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
	.new_post_type_video{ width:100%;}
	.feed_list .feed_item .post_thumbnail .start_icon {
		width:80px;
		height:21px;
		margin-left:-10px;
		font-size:12px;
		line-height:21px;
		position:relative;
		float:left;
		margin-top:-30px;
		margin-bottom:20px;
	}

	.poll_quiz_dialog .answers .answers_content {
		max-height:350px;
	}
	.poll_quiz_dialog .answers .background-image {
		margin-top:0px;
	}

	.poll_quiz_dialog .answers .answers_content .answers_list {
		margin-left:20px;
		margin-right:10px;
	}

	#container #header #logo {
		margin:13px 0px 0px 110px;
		background-size:200px 23px;
	}

	.post_description_quiz {
		width:50%;
	}
	#community_banner{
		background-size:330px 105px;
		width:330px;
		height:105px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 

	.feed_list .feed_item .post_thumbnail .start_icon {

		margin-top:10px;
		
	}
	.community_new_post_box .new_post_details button#button_post {margin-top:0px;}

	 #socialsharing_panel .field label {
		
	 	float:none !important;
	 }


}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}