 .fp-fullscreen{ left:0px !important; top:30px !important;}
.flowplayer.is-live .fp-timeline {
    display: block;
}
.flowplayer { width: 80%; background-color: #222; background-size: cover; }
   .flowplayer .fp-controls{background-color: rgba(0, 0, 0, 0.4); }
   .flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
   .flowplayer .fp-progress { background-color: rgba(219, 0, 0, 1)}
   .flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}
   
   .flowplayer .fp-logo img {
    width: 75%;
    position: relative;
}
.flowplayer .fp-logo {
    bottom: 25px;
    right: 92%;
    z-index:2;
}

.flowplayer .fp-engine{top:0; left:0; width:100%;}
.flowplayer .endscreen {
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
 
  font-size: 14px;
  background-color: #000;
  text-align: center;
 
  /* do not show endscreen by default - a simpler, non-animated alternative would be:
   * display: none; */
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  padding-top:30px;
}
.flowplayer .endscreen h3 {
  font-size: 160%;
  font-weight: bold;
  color: #ccc;
  margin-top: 10%;
}
.flowplayer .endscreen h4 {
  font-size: 120%;
  color: #eee;
}
.flowplayer .endscreen .button {
  background-color: #000;
  padding: 20px 30px;
  margin: 25px auto;
  -webkit-border-radius: 60px !important;
  -moz-border-radius: 60px !important;
  border-radius: 60px !important;
  font-size: 110%;
  color: #fff;
  cursor: pointer;
  display: block;
  -webkit-transition: background-color .1s;
  -moz-transition: background-color .1s;
  transition: background-color .1s;
  border:2px solid #fff;
  width:300px;
  clear:both;
}
.flowplayer .endscreen .button:hover {
  background-color: #111;
}
.flowplayer .endscreen .button:active {
  background-color: #111;
}
.flowplayer .endscreen .fp-toggle {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}
.flowplayer .endscreen .fp-toggle:hover {
  color: #fff;
}
 
/* overlay player screen when video is finished */
.flowplayer.is-finished .endscreen {
  /* the player UI has z-index: 11, overlay it */
  z-index: 12;
 
  /* show endscreen - a simpler alternative would be:
   * display: block; */
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.flowplayer.ad-is-visible .fp-ui .ad-time {
  visibility: hidden !important;
}

.flowplayer.ad-is-visible{position:absolute; top:0; left:0;}

#mdtimer{

  color:#fff;
}

.loader {
  margin: 130px auto;
  top:0px;
  left:43%;
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  z-index:3;
  background:none;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.flowplayer.ad-is-visible.ad-is-paused .fp-ui .ad-play {
  visibility:hidden;
}
@media (max-width:789px) {
.ng-scope_video{position:relative;}
}
.mobile_ad_unit{background:#fff; text-align:center; margin:0px 0 0px 0; width:100%;height:100px;}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
.flowplayer .fp-logo {  bottom: 10px; right: 92%; }
.flowplayer.is-touch .fp-logo img { width: 80%; /* 100% default */ } 
.flowplayer .endscreen .button { width:150px; height:30px; line-height:20px; font-size:11px; margin:5px auto; padding: 4px 15px; }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
.flowplayer .fp-logo { bottom: 10px; right: 92%; }
.flowplayer.is-touch .fp-logo img { width: 80%; /* 100% default */ } 
}
#myPlayer > div.fp-ui > div.adContainer > div > div > video { position:relative !important; left:0px !important; float:left !important; width:100%; height:360px;}
html body div#container.ng-scope div.top_video div.container div.post_frame div.post_details div.ng-scope_video_back div.ng-scope_video div#myPlayer.flowplayer div.fp-ui div.adContainer div iframe{ position:relative !important; left:0px !important; float:left !important; width:640px; height:360px;}
