/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

@font-face {
	font-family:"Raleway", 'fontawesome';
	src:url('/fonts/fontawesome-webfont.eot');
	src:url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fontawesome-webfont.svg#fontawesome') format('svg'),
		url('/fonts/fontawesome-webfont.woff') format('woff'),
		url('/fonts/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
button#showLeftPush.disabled {
	
	pointer-events: none;
}

.icon-drop:before, 
.icon-arrow-left:before {
	font-family:"Raleway", 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}

/* General styles for all menus */
.cbp-spmenu {
	background: #181818;
	position: fixed;
	overflow-y: auto;
	
	
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #282828;
	height:80px;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #3e3e3e;
}

.cbp-spmenu a:active {
	background: #3e3e3e;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #222222;
    height: 50px;
    padding: 0.9em 0.6em 0.3em 1.3em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.4em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -250px;
}

.cbp-spmenu-right {
	right: -150px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 250px;
}

.cbp-spmenu-push-toleft {
	left: -250px;
}

.cbp-spmenu-push-todown {
	top: 47px;
}

.cbp-spmenu-push-toup {
	position:absolute;
	top: -650px !important;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cbp-spmenu ul
{
  list-style:none;
  margin:0px;
  padding:0px;
  font-family:"Raleway", Helvetica;
  font-weight:300;	
}
.cbp-spmenu ul li
{
	color:#FFF;
	font-size:11px;
	text-transform:capitalize;
	border-top:1px solid #252525;
	border-bottom:1px solid #666;
	padding: 0px;
}
.cbp-spmenu ul li a,visited:link
{
	text-decoration:none;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 250px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -250px;
	}

	.cbp-spmenu-right {
		right: -250px;
	}

	.cbp-spmenu-push-toright {
		left: 250px !important;
	}
}

.cbp-spmenu .nav .open > a, .cbp-spmenu .nav .open > a:hover, .cbp-spmenu .nav .open > a:focus {
    background-color: #181818;
    border-color: none !important;
}
.cbp-spmenu a:hover {
	background: #3e3e3e;
}
.cbp-spmenu #login_panel_menu a:hover
{
   background: #3e3e3e !important;   
}

.cbp-spmenu #login_panel_menu li a.profile-icon {background:url(/images/profile-icon.png)  no-repeat 3px 8px !important;}
.cbp-spmenu #login_panel_menu li a:hover.profile-icon {background:#3e3e3e  url(/images/profile-icon.png)  no-repeat 3px 8px !important;}


@media screen and (max-width:768px) {
       ul.navbar-left { display:none !important;}
	   #showLeftPush.outer{ display:block !important; }
	   #container #page { width:100%; margin-right:0px; }
}

@media screen and (min-width:768px) {
       ul.navbar-left { display:block !important;}
	   #showLeftPush.outer{ display:none !important; }
	   #mb_border_mobile{ display:none !important; }
}
