.icon-menu3:before {content: "\e9bf";font-size:26px;}
.open.icon-menu3:before {content: "\e9c0";font-size:26px;}
.icon-star-empty:before {content: "\e9d7";font-size:26px;}
.icon-star-full:before {content: "\e9d9";font-size:26px;}
.icon-embed2:before {content: "\ea80";}
.icon-facebook3:before {content: "\ea8e";}
.icon-twitter3:before {content: "\ea93";}
#scchallenge {background:url(<?= STATIC_FILES_HOST ?>/images/starclubchallenge.png?v=<?= RELEASE_VERSION ?>); position: absolute; z-index: 1000; top: 15px; right: 123px; width: 192px; height: 30px; }
#gallery_back { width: 635px; float: left; background:url(<?= STATIC_FILES_HOST ?>/images/photo-gallery.jpg?v=<?= RELEASE_VERSION ?>) repeat-y;
background-size: 635px 100%; width: 635px; position: relative;height: 360px; line-height: 360px; overflow: hidden; display:table-cell; vertical-align:middle; }
a.back_button {background: url(<?= STATIC_FILES_HOST ?>/images/left-arrow.png?v=<?= RELEASE_VERSION ?>) repeat scroll 0 0 rgba(0, 0, 0, 0); background-size: 90px 90px; color: #fff; font-size: 20px; height: 90px; width: 90px; left: 10px; line-height: 200px; position: absolute; text-transform: uppercase; top: 110px; }
a.next_button {background: url(<?= STATIC_FILES_HOST ?>/images/right-arrow.png?v=<?= RELEASE_VERSION ?>) repeat scroll 0 0 rgba(0, 0, 0, 0); background-size: 90px 90px; color: #fff; font-size: 20px; height: 90px; width: 90px; right: 10px; line-height: 200px; position: absolute; text-transform: uppercase; top: 110px; }
a.top_link { float: left; color: #fff; width: 90px; height: 50px; line-height: 40px; display: block; }
.inactive { opacity: 0.2; pointer-events: none; cursor: default; }
#container #header.con_header { margin-bottom: 0px !important; }
#container #page.maincontent { }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background: none !important; color: #8635a6; }
.dropdown-menu li a, visited:link { text-align: left; text-transform: captilize; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background: none !important; color: #8635a6; }
.feed_list .feed_item .post_name_time .post_name { font-size: 16px; font-weight: 600; color: #8635a6; height: 20px; line-height: 20px; }
.feed_list { padding: 10px 0; border-radius: 0 !important; background:none !important; box-shadow:none !important; /*padding:0 !important;*/ }
#container #page {background:none !important;}
ul.nav { display: none !important; }
#login_panel { display: none !important; }
#cbp-spmenu-s1 { display: none !important; }
#mb_border_mobile { display: none !important; }
#new_logo { margin: 8px auto 0; width: 110px; height: 30px; }
#logo_star {background:url(<?= STATIC_FILES_HOST ?>/images/star.png) no-repeat; background-size: 100%; height: 40px; float: left; margin-right: 5px; margin-left:15px; width: 40px; }
.container { padding: 0 0 0 10px; }
#container #page { margin: 0; padding: 0; width: 950px; }
.time_comments input.finput-area { width: 78%; float: left; }
.time_comments input.input_submit { width: 20%; font-weight: 600; color: #121212; float: right; }
#likes_wrapper {clear: both; display: block; float: left !important; height: auto !important; width: 100%; margin-bottom:15px;}
.my-dropdown-menu{display:none;}
.down{margin-top:10px;}
.open .my-dropdown-menu{background: none repeat scroll 0 0 #fff;display: block;position: absolute;top: 45px;width: 220px; padding-left:0px; font-family: Lato,Helvetica;}
.dropdown-menu:hover{background-color:transparent;}
a.dropdown-toggle:hover,a.dropdown-toggle:focus,a.dropdown-toggle:active{text-decoration:none;}
.my-dropdown-menu li.bottom_content{height:200px; border-bottom:0px;} .my-dropdown-menu li.bottom_content p {color:#000;}
.login_top, .login_top_out{margin-right:15px;}
.feed_list .feed_item .post_description {font-size:30px; font-weight:bold; width:100%; margin-top:0px; border-bottom:1px solid #cecece; margin-bottom:10px; padding-bottom:10px;}
#button_signin_with_facebook{background: none repeat scroll 0 0 #335cc4;color: #fff;margin-top: 30px; border: 1px solid #fff;border-radius: 5px !important;cursor: pointer;    font-size: 18px;height: 40px;text-align: center;width: 270px;}
.my-btn-default:hover, .my-btn-default:focus, .my-btn-default:active, .my-btn-default.active, .open .dropdown-toggle.btn-default {background-color:none !important;}
#landing_page_banner{margin-bottom:0px;  display:none; }
.post_comments_wrapper{width:67%; float:left;}
.ng-scope_video{position:relative;}
.com_img{ float:left; margin-right:5px; border-radius: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px; width:40px; height:40px; border:1px solid #666; display:block;}
input, button, select, textarea {font-family: "Raleway",inherit; font-size: inherit;line-height: inherit;font-size: 15px;}
.feed_list .feed_item .post_description {font-size: 28px;font-weight: bold;width: 100%;line-height: 125%;margin-top: 0px;border-bottom: 1px solid #cecece;margin-bottom: 10px;padding-bottom: 10px;}
.feed_list .feed_item .post_like_count {font-size: 24px;margin-top: 5px;font-weight: 400;margin-right: 18px;max-width: 50px;min-width: 25px;text-align: center;width: 30px;}
object{position:absolute; z-index:0;}
.BrightcoveExperience {z-index:0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.animated-slide-2{ display:none;}
.dropdown-menu li a:hover {  background: none !important; }
.dropdown{position:absolute; z-index:1; top:123px; left:60px;  cursor:pointer;width: 5px; z-index: 3;}
.my-btn-default { border: medium none; font-size:26px;float: left;height: 35px;margin-top: -25px; margin-left:-20px; width: 69px; position:absolute; z-index:100;}
.open .my-btn-default { border: medium none;float: left;height: 35px;margin-top: -25px; margin-left:10px; width: 69px;}
.dropdown.open .dropdown-toggle  {background:none !important; content: "\e9c0"; border: medium none;float: left;height: 35px;margin-top: -25px; margin-left:10px; width: 69px;}
.my-dropdown-menu li{float:left;  font-size:bold;display:block; cursor: pointer; height:40px; width:100%; position: relative; list-style: none; font-size:15px; text-align:left; padding-left:10px; border-top:1px solid #c5c5c5; padding-top:10px;} 
.my-dropdown-menu li > a {font-size:15px; text-align:left; float:left;  font-weight:bold; text-decoration:none;}
.comment_content { width:80%; float:left; }
.login_top_out{ margin-top: 3px;  }
.input_submit{color:#fff !important; background:#000 !important; border:none !important;}
.show_comments{ width:150px; height:30px; margin:15px auto; background:#eee; color:#666; border:1px solid #dbdbdb; border-radius:5px; display:block; outline:none;}
.ng-scope_video { overflow:hidden; }
p.small_date{font-size:14px; color:#999; margin-bottom:0px; font-weight: 300;}


/* Added 5-5-15*/
.fp-playlist a.fp-list{ border-bottom: 1px solid #333; margin: 0; padding: 8px; text-align: left; float:left; width:100%; }
.fp-playlist a.fp-list:hover{ background:#ccc; }
.fp-playlist a.fp-list:hover p strong{ color:#333; }
.fp-playlist a.fp-list p strong { color: #ffffff; display: block; font-size: 15px !important; font-weight: 600; margin-top: 2px; text-transform: capitalize; }
.fp-playlist a.fp-list p{ float: left; margin: 0 0 0 10px; width: 65%; color:#fff; }
.fp-playlist a.fp-list p span { color: #666; font-size: 12px !important; margin-top: 1px; float:left; }
.fp-playlist a.fp-list span.thumb_video_list .vid_thumb { float: left; margin-right: 10px; width: 12%;}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	.feed_list { padding: 10px !important; }
	.top_title { font-size: 12px !important; width: 100%; }
	#scchallenge { display: none; }
	#landing_page_banner { background-size: 100%; width: 100%; height: 119px; background-repeat: no-repeat; }
	#likes_wrapper { height: 45px; width: 100%; display: block; border-bottom:1px solid #cecece; padding-bottom:10px;}
	.post_description { float: left; display:block; width: 40%; font-size:22px !important; padding-left:10px; padding-right:10px; height:auto;}
	#post_like_count, #post_like_count_mobile { float: right; display: inline-block; color: #000; font-size: 18px; width: 24px; margin-top: 5px; clear: both; }
	#addlike_mobile { float: right; display: inline-block; width: 27px; }
	.button_facebook { float: right; display: inline-block; margin-right: 3px; width: 24px; margin-left: 10px !important; }
	.button_twitter { float: right; display: inline-block; margin-right: 3px; width: 24px; }
	.facebook-new{ margin-left:15px;}
	.ng-scope_video { position: relative; height: 0; padding-bottom: 56.25%; }
	.BrightcoveExperience { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	.login_top a, .login_out a  { font-size: 10px !important; margin-right: 0px !important; float: right; padding: 5px 7px !important; width: 70px; }
	.comment_content { width:90% !important; float:left; margin-right:0px !important; padding-right:0px !important; }
	ul.list_view li {    border-bottom: 1px solid #cecece; }
	.feed_list .feed_item .post_comments { padding:15px 0px; }
	.login_top, .login_top_out, .login_top a, .login_top_out a {border:0px !important; line-height:30px; }
	.top_video .top_title { font-size:18px !important; width: 60%; margin-left:25px;}
	#gallery_back, #gallery_back img { width:100%; padding-bottom:100px;}
	a.back_button, a.next_button{ top:280px; height:45px; background-size:45px; font-size: 13px; width:45px; line-height:110px;}
	.login_top_out{ margin-top: 3px; position: absolute; right: 3px; z-index: 100000; top:1px;}
	#logo_star{ margin-top:10px !important;}
	input#userid_mobile{ width:70% !important; display:inline-block; float:left; margin-left:10px; margin-bottom:10px;}
	input#form_submit_mobile{width:20% !important;  display:inline-block; float:right; margin-right:10px; margin-bottom:10px;}
	#tab2{ margin-bottom:15px; border-bottom: 1px solid #cecece;}
	.show_mobile_comments{margin-bottom:30px;}
	.top_title img{ height:30px; margin-left:25px; margin-top:-10px !important;}

}
@media (max-width:789px) {
	#logo_star { width: 35px; height: 35px; float:left; margin-left:0px; margin-top:5px;}
	.dropdown{top:13px; left:50px;}
	.login_top, .login_top_out { margin-right: 15px;position: absolute; right: 0; top: 60px; z-index: 10000000; border:0px !important;}
	.login_top_out{ margin-top: 3px; position: absolute; right: 3px; z-index: 100000; top:1px; margin-right:5px;}
	.top_video .top_title { font-size: 18px;  margin-top: 10px;}
	ul.list_view{background:#fff;}
    #container #page{background:#fff;}
    .tab-content{background:#fff !important;}
    ul.list_view li p strong { color: #000; }
    ul.list_view li span.thumb_video_list {width:10%;}
    #likes_wrapper { float:left; height:100px;}
    .open .my-dropdown-menu { left:-50px !important; }
    .main-nav a{ background:none; border:none;}
    .main-nav ul li{list-style:none;}
    .animated-slide-2{ display:block;}
    .feed_list .feed_item .post_comments { padding:15px 0px; }
    .login_top a, .login_top_out a {border:0px !important;}
    .show_thumbs, .show_comments, .show_mobile_comments{ width:150px; height:30px; margin:15px auto; background:#eee; color:#666; border:1px solid #dbdbdb; border-radius:5px; display:block; outline:none;}
}


