

        *{ margin:0; padding:0; outline: none }
        body{ font-family:'abelregular', Arial;font-size: 15px; color:#222; background:#FBFBFB; font-weight: normal;}
        .container{ text-align: center; padding:0px; max-width: 1000px}
    
    .carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function:linear;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

        #primary_nav_wrap
{
    margin-top:15px
}

ul.nav
{
    list-style:none;
    position:relative;

    margin:0;
    padding:0;

}

ul.nav a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:16px;
    line-height:32px;
    padding:0 15px;
    font-family:'abelregular', Arial, "HelveticaNeue","Helvetica Neue",Helvetica,sans-serif
}

ul.nav li a:hover, ul.nav li:hover a, ul.nav li:hover > ul li:hover a, ul.nav li:hover > ul li a:hover{  color:#b20000;  }

ul.nav li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

ul.nav li.current-menu-item
{
    background:#ddd;
}

ul.nav li:hover
{
    background:#f6f6f6;
}

ul.nav ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0;
    z-index: 9999;
    list-style:none;
    border:1px solid #eee;
}

ul.nav ul li
{
    float: none; width: 198px;
}

ul.nav ul a
{
    line-height:120%;
    padding:10px 15px;
}

ul.nav ul ul
{
    top:0;
    left:100%;
}

ul.nav li:hover > ul
{
    display:block;
    width:200px;
}
a.more_link{ color:#b20000; }
#channel_top_wrap{ width:50%; float:left; margin-left:15px; margin-top:5px; }
#channel_title_right{line-height:125%;text-transform:uppercase; font-weight:bold;text-align: left; font-size:26px; float:left; color:#000; width:100%;  }
#channel_type_right{     color: #777;
    float: left;
    font-size: 14px;
    text-align: left;
    width: 100%;  }
    #image_wrap{ float: right;
    height: 85px;
    margin-right: 20px;
    margin-bottom:15px;
    margin-top:10px;
    overflow: hidden;
    width: 85px; }
img.profile-img{ width:85px; float:right;}
#channel_description_right{  margin-left:15px; float:left; width:100%; padding-right:25px; text-align: left; margin-bottom:10px; }
#channel_socials{ margin-left:15px; width:100%; float:left; margin-bottom:20px; height:30px; }
#channel_socials img{ float:left; margin-right:15px; width:30px;}


.well { background-color:#fff; border:none !important; }
.profile-img{ width:250px;  }

        .logo{ font-size:32px; margin:10px 0px 10px 20px; float: left; padding-top: 5px; padding-right: 20px;; border-right:1px solid #E2E2E2}
        h1{ font-size:37px; margin:20px 0; min-height:20px; text-transform: uppercase}
        h3{ font-size: 20px; font-weight: normal; }
        .content{ display: block; width:100%; max-width:1140px; margin:0 auto }
        .footer{ display: block; margin:10px 0 100px 0; padding-top: 20px; border-top: 1px solid #e2e2e2}

        .videojs-player-holder{ background:#000; margin: 0; box-shadow:0 0 5px #E2E2E2;}
        .videojs-player-holder{ overflow: hidden; position: relative; } /* Fix for static videojs-ima */
        .video-js, /*.vjs-volume-level, .vjs-play-progress,*/ .vjs-menu-button { color: #b20000; }
        .video-js { width: 100% !important; height: 0px; padding-bottom: 56.25%; }
        /*.vjs-loading-spinner { opacity: 0 }*/
        .vjs-default-skin.vjs-ended .vjs-play-control:before { content: ''; }
        .vjs-embedoverlay { font-family: 'abelregular', Arial; position: absolute; top: 10px; left: 40px; background-color: #333; padding: 3px 5px; border-radius: 3px; box-shadow: 0 0 3px #ccc; font-size: 12px; text-align: center; }
        .vjs-embedoverlay-input { font-family: 'abelregualr',Arial ,monaco,"courier new",verdana; background-color: transparent; width: 400px; border: none;}

        /* Preroll div wrapper	*/
        #ima-ad-container > div:nth-child(1) { display: flex; width: 100% !important; /* Overlays videojs on error *//*height: 100% !important; padding-bottom: 8.5%; */}
        /* Preroll iframe */
        #ima-ad-container > div:nth-child(1) > iframe { width: 100% !important; height: 100% !important; }

        /* To wrap embedded iframe video */
        .iframe-wrapper{
            position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;
        }
        /* Embedded iframe video */
        .embed-iframe { position:absolute; top:0; left:0; width: 100%; height: 100%;}
       
        /*.container-instagram { position:relative;/!*padding-bottom:135%;padding-top:30px;height:0px;overflow:hidden; }*/

        .instagram-iframe { /*position:absolute; top:0; left:0;*/ width: 100%; /*height: 100%*/}

        .clr{ clear: both; height:0; overflow: hidden;}

        .col1{ margin-right: 1%;float:left; width:66%; max-width: 778px;}
        .col2{ float:left; width:33% !important;}

        .latest {border-bottom: 1px solid #e2e2e2; padding-bottom: 5px; margin: 10px 10px 10px 10px; text-align: left; font-size: 14px}
        .assets-list{ float: left;
    width: 100%; border:none; background:#fff; margin:10px 0 10px 0; box-shadow:0 0 5px #E2E2E2; padding: 10px; }
        .assets-list ul{ margin: 0 auto; list-style: none;}

        .assets-list ul li a, .assets-list ul a li a, .assets-list ul a:visited, .assets-list ul a{ outline: none; display: block; background: #fff; margin-bottom:1px; text-decoration: none; color:#222; }
        .assets-list ul li p, .assets-list ul a li p{ padding: 10px; margin-bottom: 5px; font-weight: bold;}
        .assets-list ul li p span, .assets-list ul a li span.dates{font-size:10px; color:#999; font-weight: normal}
        .assets-list ul li, .assets-list ul a { text-align:left; font-size:14px; font-weight: normal }
        .assets-list ul li .thumb, .assets-list ul a li span { float: left; max-height:30%; max-width:80px; max-height:50px; overflow:hidden; margin:10px}
        .assets-list ul li img{ }

        .page-unit-1{ background-color: #fff; padding: 10px; text-align: center}
        .page-unit-2{ background-color: #fff; margin-bottom: 10px; border:none !important; float:right; box-shadow:0 0 5px #E2E2E2; padding:10px}
        .page-unit-2a{ background-color: #fff; margin-bottom: 10px; border:none !important; float:right; box-shadow:0 0 5px #E2E2E2; margin-top: 10px; padding:10px; width:325px;}
        .page-unit-3{ background-color: #fff; margin-bottom: 10px; border:none !important; box-shadow:0 0 5px #E2E2E2; margin-top: 10px; padding:10px}
        .desc-area{ padding:20px; background: #fff; text-align: left; margin:10px 0 10px 0px; border:1px solid #E2E2E2; box-shadow:0 0 5px #E2E2E2}
        .desc-area span{color: #999}
        .social{ border-top:1px solid #E2E2E2; margin:15px 0; padding:15px 0; position: relative;}
        .social ul{display: inline-block; float: left; }
        .social ul li{ display: inline-block; }
        .social ul li a{ font-size:36px; color:#7e7e7e; text-decoration:none  }

        .social-links{ border-top:0px solid #E2E2E2; margin:15px 20px 0px 0px; padding:0px 0; float: right; display: none}
        .social-links ul{  }
        .social-links ul li{ display: inline-block; }
        .social-links ul li a{ font-size:36px; color:#222; text-decoration:none  }
        .view-all{border: 1px solid #e2e2e2; padding: 10px; margin: 10px; font-size: 15px}

        .next_button {padding: 20px 20px; border: 1px solid #e2e2e2; border-right: 0px; margin-top: 30px; position: absolute; top: 100px; right: 0px; text-transform: uppercase; font-size: 32px; box-shadow:0 0 5px #E2E2E2;}
        a.next_button{text-decoration: none; color: #6D6D6D}
        a.next_button:hover{text-decoration: none; color: #000; background-color: #ededed}
        a.back_button:hover{text-decoration: none; color: #000; background-color: #ededed}

        a.back_button{text-decoration: none; color: #6D6D6D}
        .back_button {padding: 20px 20px; border: 1px solid #e2e2e2; border-right: 0px; margin-top: 30px; position: absolute; top: 100px; left: -1px; text-transform: uppercase; font-size: 32px; box-shadow:0 0 5px #E2E2E2;}
        #gallery_back{margin:10px; margin-left:0px; border: 1px solid #e2e2e2; position: relative; box-shadow:0 0 5px #E2E2E2}
        #image-back{width:450px;height:auto; overflow:hidden; margin:10px auto 10px auto;}
        #image-back img{margin:0 auto;  max-width:450px; vertical-align:middle; text-align:center; border:1px solid #E2E2E2; box-shadow:0 0 5px #E2E2E2}
        img.powered-by{width: 200px}
        .social-links img{width:25px}

        .inactive{ pointer-events: none; color:#eee !important;}
        .ui-loader { display: none; }
        
        a:hover, .social-nav a:hover, .catsMenu a:hover{
            color: #b20000 !important;
        }
        
        a {
            color: black;
            text-decoration: none !important;
        }

        .home_thumb span {
            font-size: 14px; 
            color: #666;
        }

        .catsTitle {
            margin: 0px 30px 10px 30px;
            padding-top: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            color: black;
            font-size: 30px;
        }

       
           


     /*   .catsTitle span{
            margin-left: 15px;*/
            /*color: black;
            text-decoration: none;*/
        
/*        }*/


        .endscreen {
            top: 10%;
            left: 10%;
            position: absolute;
            width: 80%;
            /*height: 70%;*/
            height: 80%;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            font-size: 14px;
            background-color: #777;
            text-align: center;

            /* do not show endscreen by default - a simpler, non-animated alternative would be: */
            display: none;
            /*opacity: 0;*/
            /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
            -webkit-transition: opacity .5s;
            -moz-transition: opacity .5s;
            transition: opacity .5s;

            /* overlay player endscreen when video is finished */
            z-index: 2;

            /* show endscreen - a simpler alternative would be:
            * display: block; */
            opacity: 1;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            overflow-wrap: break-word;

        }
        .endscreen h3 {
            font-size: 160%;
            font-weight: bold;
            color: #ccc;
            margin-top: 10%;
        }
        .endscreen h4 {
            font-size: 120%;
            color: #eee;
        }
        .endscreen .button {
            /*background-color: #00a6bc;*/
            background-color: #b20000;
            padding: 20px 30px;
            margin: 15px 0;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            font-size: 110%;
            color: #eee;
            cursor: pointer;
            display: inline-block;
            -webkit-transition: background-color .1s;
            -moz-transition: background-color .1s;
            transition: background-color .1s;

        }
        .endscreen .button:hover {
            /*background-color: #00afc6;*/
            background-color: #b20000;
        }
        .endscreen .button:active {
            /*background-color: #009db2;*/
            background-color: #5abdb2;
        }
        .endscreen .vjs-toggle {
            display: block;
            color: #eee;
            cursor: pointer;
        }
        .endscreen .vjs-toggle:hover {
            color: #444;
        }

        .endscreen b {
            color: #eee;
        }

        .endscreen textarea {
            width: 80%;
        }

        .menu-brand{
            padding-top:12px;
        }

        .menu{
            font-size: 1.08em;
        }

        .oflo-img{
            width:300px;
            height:35px;
            margin-left:-10px;

        }

        form#search_form input{  margin-top: 5px; font-family:'abelregular',Arial; }
       
        .navbar-form .form-group{ position:relative;  }

        .fa-search {
            position:absolute;
            z-index:1;
            right: 10%;
            top: 35%;
            color:#999;
            width: .5em;
        }

        .search-box{
            background-color:#fcfcfc;
            border-radius:10px;
            position:relative;
            box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;

        }

        .carousel-control{
            padding-top: 5%;
            width:5%;
        }

        .cat-container{
            background-color: white;
            box-shadow: 0 0 3px;
            margin-bottom: 20px;
            padding:20px;
        }
        .date{
            font-size: 10px;
            color: #ccc
        }

        .cat-ad{
            text-align: center;
            margin-right: 20px;
            margin-left: -20px;
        }

        .row-carousel{
            margin-left: 40px;
        }

        .home-second-carousel{
            text-align: center;
            width: 90%;
            margin: 0 auto !important;
        }
        
        .landing-page-carousel{
            /*width: 95%;*/
            margin: 0 auto;
        }

        .landing-page-carousel p{
            padding-top: 5px;
        }
    
        .home-second-carousel img {
            border-radius: 50%;
        }


        .margin {
            margin: 0 auto;
        }

        .fyre-help{
            display:none;
        }

        .fyre-editor .fyre-editor-toolbar .fyre-share-button div {
            border: medium none !important;
            display: none !important;
            padding: 0 !important;
            width: 100% !important;
        }
        .fyre-editor .fyre-editor-toolbar .fyre-share-button{
            display:none !important;
            width:0px !important;
        }
        
        .fyre-user-drop {
           color:#b20000 !important;
        }
        .fyre-user-loggedout, .fyre-stream-livecount {
            color: #7e7e7e !important;

        }

        .fyre a:hover {
            color:#3390cc !important;
        }
        
        .fyre-editor .fyre-editor-toolbar .goog-toolbar > div.goog-toolbar-separator{
            background:#b20000 !important;
            border:none !important;
        }

        .fyre a.fyre-comment-username span {
            color: #469abe !important;
        }
        
        .fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right {
            border-left:1px solid #4CB98E !important;
        }
        .fyre-share-button, .fyre-button-right-outer-box, .fyre-button-left-outer-box{
            background-color:#b20000 !important;
        }

        .fyre-button-right-inner-box, .fyre-button-left-inner-box{
            color: white !important;
            text-shadow:none !important;
               border:none !important;
        }

        .fyre-editor .fyre-editor-toolbar .goog-toolbar>div {
            border-right:1px solid #4CB98E !important;
        }

        .fyre-comment-action-button {
            
            background-color:#b20000 !important;
            padding: 3px 5px !important;
            border-radius: 2px !important;
            color: white !important;

        }
         .button_star {
            width:28px; height:28px;
            background:url(/images/like-new.png);
            cursor:pointer; text-decoration:none;
            margin-top:4px;
            background-size:28px 28px;
            float:left;
        }

        .button_star1 {
            width:28px; height:28px;
            background:url(/images/like-fill-new.png);
            cursor:pointer; text-decoration:none;
            margin-top:4px;
            background-size:28px 28px;
            float:left;
        }
        #likecount_wrapper{
     
            position: absolute;      
            right: 0;
            color: #9F9999;
          
        }

        #post_like_count{
            float:left;
            font-weight: bold;
            font-size:23px;
            margin-right:10px;
            margin-top:1px;
        }

        .page-unit-1{
            margin-bottom: 0px;
        }

        .nav li a {
            padding: 15px 14px !important; color: #777 !important;
        }


        .home-page-pics-videos{
            width:100%px;
            height:220px;
            margin: 0 auto;

        }

        .margin-bottom{
            margin-bottom:10px !important;
        }

        .content_carousel {
            width:212px !important;
          
            padding: 0 !important;
        }

        .content-img-wrap {
            height:119px; overflow:hidden;
        }

        .content_carousel_embeded {
            width:212px !important;
            margin-top:-20px !important;
            padding: 0 !important;
        }

        .content-img-wrap-embeded {
            height:120px; overflow:hidden;
        }

        .cat-pics-description{
            display:inline-block;
            margin-top: 10px;
     
        }

        .cat-page-pics {

            padding: 0 !important;
            
        }

        .cat-page-pics-embeded {
          
  
            padding: 0 !important;
            
        }

        .cat-pics-wrap {
            height:122.91px; overflow:hidden;
            float:left;
            display: inline-block;
        }

        .cat-pics-wrap-embeded {
            height:121px; 
            overflow:hidden;
            float:left;
            display: inline-block;
        }

        .carousel-img1{
            width:100% !important;
         
        }
    

        .home-slider-wrap{
            height:387px; overflow:hidden;
        }

        .vid_thumb_desc{
            height:84px; overflow:hidden !important;
            float: left;
        }

        .vid_thumb{
            width:150px !important;
            padding: 0 !important;
            margin:10px !important;
            float:left !important;
        }

         .vid_thumb_desc_embeded{
            height:84px !important; overflow:hidden !important;
            float: left;
            margin: 10px;
        }

        .vid_thumb_embeded{
            width:150px !important;
            padding: 0 !important;
            margin-top: -14px !important;
            float:left !important;
        }

        p {
            font-size:13px;
        }

        .inline-social {
            display:inline !important;
        }



        .inner-carousel {
            margin: 14px !important;
        }


        .home_thumb {
            min-height: 250px !important;
            padding-top: 30px;


        }

        .viewAll {

            display: block;
          
            margin: 0px 15px 0 15px;
            border-bottom: 1px solid #F0F0F0;

        }

        .dot_between:before {
             content: " \00b7";
             font-weight: bold;
        }

        .viewAll a {
           float: right;
           color: #b20000;
        }
      
        .viewAll h3 {
            padding-bottom: 10px;
            font-size: 1.5em;
            font-weight: bold;
            display: inline-block;
            margin: 0;
        }

        .channelAll {

            display: block;
          
            margin: 0px 15px 25px 15px;
            border-bottom: 1px solid #F0F0F0;

        }
        
        .channelAll h3 {
            padding: 0 0 10px 0 !important;
            font-size: 1.5em;
            font-weight: bold;
            display: inline-block;
            margin: 0 !important;
        }

        .channelAll a{
           float: right;
           color: #b20000;
           padding-right: 0px;
        
        }

        .pic-vid-div {
            padding-top: 19px;
        }

        .landing_slider_image {
            float: left !important;
            margin-left:20px !important;
            margin-right: -30px !important;
            height: 170px !important;
            
        }

        .powered-by p{
            width: 215px;
            margin: 0 auto;
        }
        
        .powered-by img {
            width: 200px;

        }

      
        
        .fixed-width {
             width:1024px;
             margin: 0 auto;
        }

         .channel-banner-height{
           
        }
        .box-menu {

            background-color: white;
            box-shadow: 0 0 5px #e2e2e2;
            margin-bottom: 10px;


        }

        .ch-bn{display:none;}
      

        .cat-page-pics-embeded{
       
            margin-top: -18px
        }

         .home-page-pics{
         width:212px !important;

        }

        .home-img-wrap{
            height:120px; overflow:hidden;
        }

         .home-page-pics-embeded{
         width:212px !important;
         margin-top: -20px !important;

        }

        .home-img-wrap-embeded{
            height:119px; overflow:hidden;
        }

        .home_video_description {
            text-align:left !important;
            padding-left:6px !important;
            margin-top:5px;
           
        }

         .channel_image {
            float: left !important;
            margin-left:9px !important;
            margin-right: 8px !important;
            height: 180px !important;
            width: 130px !important;
        }

        .carousel-img{
        width:130px !important;
        height:130px !important;
        padding: 0 !important;
        
        }


        .img-responsive {
            min-height: 240px;

        }
    
        .slide h3 {
            margin-top: 0px;
            padding-left: 11px;
             font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
        }
        
        .by_channel {
             color: #b20000 !important;
        }
        
        .cat-pics-description span {
            color: #ccc;
        }

        .video_desc {
            font-size: 15px !important;
            color: black !important;
            font-weight: bold !important;
        }

        .creators-responsive{
            min-height: 170px;
            text-align: center;
        }

         .creators-responsive p{
            
            font-size: 1.2em; font-weight: bold; text-transform: uppercase;
        }

        @media (max-width: 479px) {
            
             .fixed-width {
                 width:100% !important;
                 margin: 0 auto;
            }
            .asset-head {  float:left; display:inline-block; width:50% !important; }
            .assets-list{ max-height: none;
    overflow-x: hidden;
    overflow-y: -moz-hidden-unscrollable; }
        
        .catsTitle {
            margin:0;
        }
           .catsTitle span{
            margin-left: 15px;
            /*color: black;
            text-decoration: none;*/
        
        }
        .oflo-img{ width:280px; }

        .social-nav{ display:none; }

        ul.nav li{ width:100%; }

        ul.nav ul li{ float:left; width:100%; min-width:330px; }

        ul.nav ul{ position:relative !important; float:left !important; }

            .carousel-img1{
                width:100% !important;
            }

            .home-slider-wrap{
                height:151px; overflow:hidden;
            }

            .carousel-control{
                padding-top: 4%;
                width:9%;
            }

            .home-page-pics, .home-page-pics-embeded{
             width:100% !important;
             
             padding-bottom: 10px !important;
            }
            
              .home_video_description {
                text-align:left !important;
                padding-top: 5px !important;
            }
            
            .box-menu, .cats-menu {
                padding:0 !important;
                box-shadow: 0 !important;
                margin-bottom: 10px !important;
            }

            .pager2{
                margin-left: -80px !important;
            }

            .col1{ float:left; width:100%; <?= (!$l_bIsMobile) ? 'max-width:800px;' : ''; ?>}
            .col2{ float:left; width:100% !important;}
            #gallery_back{margin:0px; margin-left:0px; border: 1px solid #e2e2e2; position: relative; box-shadow:0 0 5px #E2E2E2}
            #image-back{width:100%;height:auto; overflow:hidden; margin:10px auto 10px auto;}
            #image-back img{margin:0 auto; vertical-align:middle; text-align:center; border:1px solid #E2E2E2; box-shadow:0 0 5px #E2E2E2}

            .carousel-img{
                width:100px !important;
                height:100px !important;
                padding: 0px !important;
                
            }


            .channel_image_mobile {
                float: left !important;
                margin-left:27px !important;
                margin-right: 15px !important;
                height: 145px !important;
                width: 100px !important;
            }

            .glyphicon1{
                font-size: 30px !important;
            }

            .inner-carousel {
                margin: 0px !important;
                margin-left: -10px !important;
                padding: 0 !important;
            }

            .social-nav{
                float: right !important;
                padding-right: 1em;
            }

            .mobile-width {
                padding: 0 !important;

            }

            img {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .navbar-form {
                border: none !important;
                margin-bottom: 0px !important;
                padding-bottom: 0px !important;

            }

            .cat-page-pics{
                width: 100%;
                padding:0;
            }

            .img-responsive{
                padding:0;
            }

        

              .cat-pics-wrap {
                 height:210px !important; overflow:hidden;
                 width: 100%;
            }
            
            .cat-page-pics-embeded, .home-page-pics-embeded {
                width:370px !important;
                margin-top: -35px !important; 
                
            }

          

            .cat-pics-wrap-embeded, .home-img-wrap-embeded {
                 height:207px !important; 
                 overflow:hidden !important;
                 width: 100%;
            }

            .cats-middle {
                
                text-align: center;
            }

            .home-page-pics{
             width:370px !important;
             
             padding-bottom: 10px !important;

            }

            .home-img-wrap{
                height:210px; overflow:hidden;
            } 

             .content_carousel {
            width:140px !important;
            padding: 0 !important;
        
            }

            .content-img-wrap {
                height:85px; overflow:hidden;
            }  

            .content_carousel_embeded {
            width:140px !important;
            margin-top:-12px !important;
            padding: 0 !important;
            }

            .content-img-wrap-embeded {
                height:84px; overflow:hidden;
            }

             .landing_slider_image_mobile {
            float: left !important;
            margin-left:7px !important;
            margin-right: -7px !important;
            height: 130px !important;
           

            }
            .cat-pics-description{
                display: inline-block;
                margin-left: 0 !important;
                width: 100%;
                margin-top: 10px;
            }



             #likecount_wrapper{
            width:100px;
            position: absolute;
            right:-20px;
            top:20px;
            color: #9F9999;
            z-index:9999;
            }

          

            .row-carousel {
                margin: 0 !important;
            }

             .home-second-carousel{
                text-align: center;
                margin: 0 auto !important;
            }

             .slide h3 {
            margin-top: 0;
            padding-left: 0;
             font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
            }

            .pic-vid-div {
            padding-top: 19px !important;

            }
            
            .viewAll {
                padding-right: 19px;
            }
            .col-sm-3 {
                padding: 0;
            }

            .home-page-pics {
                width: 100% !important;
            }

             .channelAll a{
           float: right;
           color: #b20000;
           padding-right: 0;
        
        }


        }

        @media (max-width: 324px) {

            .carousel-img{
                width:80px !important;
                height:80px !important;
                padding: 0px !important;
                
            }

             .channel_image_mobile {
                float: left !important;
                margin-left:27px !important;
                margin-right: 15px !important;
                height: 125px !important;
                width: 80px !important;
            }
            
              .home-second-carousel{
                text-align: center;
                margin: 0 auto !important;
            }

             
          
                .slide h3 {
            margin-top: 0;
            padding-left: 0;
             font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
            }

              .pic-vid-div {
            padding-top: 19px !important;

            }
            
            .viewAll {
                padding-right: 19px;
            }
            .col-sm-3 {
                padding: 0;
            }

            .home-page-pics {
                width: 100% !important;
            }

              .channelAll a{
           float: right;
           color: #b20000;
           padding-right: 0;
        
        }

         .catsTitle {
            margin:0;
        }


        }

        @media (min-width: 1920px) {
            .nav li a {
            padding: 15px 7px !important;
            color: black !important;
        }

.assets-list {  overflow-y: -moz-hidden-unscrollable;    max-height: none !important;     border: 1px solid #E2E2E2;     margin: 10px 0;     box-shadow: 0 0 5px #E2E2E2;     padding: 10px;     overflow: scroll;     overflow-x: hidden; }