/*BEGIN max and min width 992px*/
@media (min-width: 992px) {

	/* Shrink */
	
	.header-shrink {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		background:#fff;
		opacity:0.95;
	}
	
	.navbar .navbar-inner-shrink .brand {
		padding: 0px 20px 0px !important;
	}

	.header .navbar-inner-shrink li a {
		padding: 15px 16px 17px;
	}

	.header .navbar-inner-shrink li > a:hover,
	.header .navbar-inner-shrink li.active > a,
	.header .navbar-inner-shrink li.active:hover > a {
		padding-top: 13px;
	}

	.header .navbar-inner-shrink li.menu-search {
		padding: 0;
	}

	.header .navbar-inner-shrink .search-box {
		top: 52px;
	}
	/* End Shrink */

	/*BEGIN NAVIGATION (WHILE RESIZING WINDOW)*/
	.header a.logo-v1 img {
		margin-top: 12px;
	}
	.header.scrolling-fixed a.logo-v1 img {
		margin-top: 17px;
	}

	.header .nav li > a:hover,
	.header .nav li.active > a ,
	.header .nav li.active:hover > a {
		background: #fcfcfc !important;
	}

	.header .nav li > a:hover {
		background: none !important;
	}
	
	.header .nav li.active > a:after { 
		top: 0;
		width: 0; 
		height: 0;
		left: 50%;
		z-index: 2; 
		content: " "; 
		display: block; 
		margin-left: -3px; 
		position: absolute;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
	}

	.header .dropdown-menu li.active > a:after { 
		border: none;
	}
	
	/*END NAVIGATION (WHILE RESIZING WINDOW)*/
}

@media (max-width: 992px) {
	/*BEGIN NAVIGATION*/

	.header {
		padding-left: 30px;
		padding-right: 30px;
	}

	.header .nav-collapse > ul {
		float: inherit;
		margin-top: 12px !important;
	}

	.header .dropdown-menu {
		margin-bottom: 12px;
		border-top: solid 1px #e7e7e7 !important;
	}

	.header .nav-collapse .dropdown-menu li+li a {
		margin-bottom: 0;
	}

	.header .nav-collapse .nav>li.active > a,
	.header .nav-collapse .nav>li>a:hover,
	.header .nav-collapse .nav>li>a:focus,
	.header .nav-collapse .dropdown-menu a:hover,
	.header .nav-collapse .dropdown-menu a:focus {
		background: none;
		border-top: 0px !important;
	}
	
	.header .nav li.active .dropdown-menu li.active a {
		background: #f7f9fa !important;
	}
	

	.header .nav li.menu-search {
		padding-left: 12px;
		padding-top: 15px;
	}
	/*END NAVIGATION*/

	/*BEGIN SERVICE BOX*/
	.service-box {
		margin-bottom: 0;
	}

	.service-box p,
	.service-box .service-box-heading em,
	.service-box .service-box-heading span {
		display: block;
		text-align: center;
	}

	.service-box .service-box-heading em {
		margin-bottom: 10px;
	}
	/*END SERVICE BOX*/

	/*BEGIN BLOCKQUOTE BLOCK*/
	.quote-v1-inner {
		text-align: center !important;
	}
	/*END BLOCKQUOTE BLOCK*/
	.recent-work .col-md-9 {
		padding: 0;
	}
	.hidden-sm {
		display: none !important;
	}
	.recent-news-inner {
	    padding-left: 15px;
    	padding-right: 15px;
	}

	.ver-inline-menu {
		margin-bottom: 30px !important;

	}
	.ver-inline-menu li.active:after {
		display: none;
	}

	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
	.form-actions.right {
		padding-right: 0;
	}
	.form-horizontal .form-actions.right {
		padding-right: 15px;
	}
}
/*END max and min width 979px*/

/*BEGIN max and min width 940px*/
@media (max-width: 940px) {
	.recent-work .bx-wrapper, .our-clients .bx-wrapper {
		padding-top: 30px;
	}
	.recent-work .bx-controls, .our-clients .bx-controls {
		position: absolute;
		top: 0;
		left: 67px;
	}
}
/*END max and min width 940px*/


/*BEGIN max and min width 767px*/
@media (max-width: 767px) {
	/*BEGIN NAVIGATION*/
	.header .nav li a {
		padding: 10px 15px;
	}
	.header .nav li > a:hover,
	.header .nav li.active > a,
	.header .nav li.active:hover > a {
		border: none; 
		padding-top: 10px;
	}	
	/*END NAVIGATION*/

	/*BEGIN SEARCH BOX*/
	.header .search-box {
		left: 40px;
		top: inherit;
		bottom: 3px;
		padding: 5px;
		border: none;
		display: none;
		background: none;
		position: absolute;
	}

	.header .search-box .btn {
		padding: 7px 14px;
	}
	/*END SEARCH BOX*/

	/*BEGIN COPYRIGHT*/
	.copyright .copyright-logo {
		text-align: left;
	}
	/*END COPYRIGHT*/

	/*BEGIN STEP BLOCKS*/
	.front-steps.front-step-one:after,
	.front-steps.front-step-two:after {
		display: none; 
	}	
	/*END STEP BLOCKS*/

	/*BEGIN SPACE FOR MOBILE*/
	.space-mobile {
		margin-bottom: 40px;
	}
	.front-team li.space-mobile {
		padding-bottom: 40px;
	}
	/*END SPACE FOR MOBILE*/

	.header {
		padding: 0;
	}

	.breadcrumbs .container {
		padding: 0 10px;
	}
	.breadcrumbs h1 {
		margin-left: 0;
	}

	/*BEGIN BREADCRUMBS*/
	.breadcrumbs ul {
		top: 0;
		float: left !important;
		margin-bottom: 3px;
	}
	/*END BREADCRUMBS*/

	/*BEGIN TOPBAR ICONS*/
	.front-topbar,
	.front-topbar .topbar-social {
		text-align: center;
	}		
	.front-topbar {
		padding-bottom: 5px;
	}
	/*END TOPBAR ICONS*/

	.front-topbar .login-reg-links {
		text-align: center;
	}

	/*BEGIN BLOG PAGES*/
	.blog-posts img,
	.recent-news img {
		margin-bottom: 15px;
	}

	.blog-item .blog-item-img .carousel-control {
		top: 40%;
	}		
	/*BEGIN BLOG PAGES*/

	/*BEGIN SOCIAL-FOOTER*/
	.copyright .social-footer {
		margin-top: 10px;
		text-align: left;
	}

	.copyright .social-footer li {
		margin-left: 0;
		margin-right: 3px;
	}	
	/*BEGIN SOCIAL-FOOTER*/
}

@media (min-width: 767px) {
	/*BEGIN STEP BLOCKS*/
	.no-space-steps [class^="col-"],
	.no-space-steps  [class*=" col-"] {
	    padding-left: 0;
	    padding-right: 0;
	}
	/*END STEP BLOCKS*/
}
/*END max and min width 767px*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) { 
	/*BEGIN NAVIGATION*/
	.header .nav li {
		margin-left: 0;
	}
	.header .nav li a {
		padding: 10px 15px;
	}
	.header .nav li > a:hover,
	.header .nav li.active > a,
	.header .nav li.active:hover > a {
		border: none; 
		padding-top: 10px;
		background: none !important;
	}	
	/*END NAVIGATION*/

	/*BEGIN SERVICE BOX*/
	.service-box {
		margin-bottom: 0;
	}

	.service-box p,
	.service-box .service-box-heading em,
	.service-box .service-box-heading span {
		display: block;
		text-align: center;
	}

	.service-box .service-box-heading em {
		margin-bottom: 10px;
	}
	/*END SERVICE BOX*/	
	.header .nav li.menu-search span.sep {
		display: inline-block;
		position: absolute;
		left: -9px;
		top: 9px;
		margin: 0;
	}
	.header .search-box {
		margin-top: 0;
	}
	.scrolling-fixed .search-box {
		margin-top: 11px;
	}
	.scrolling-fixed.header .nav li.menu-search {
		padding-top: 15px;
	}
}

@media (max-width: 768px) {
	.header.scrolling-fixed a.logo-v1 img {
		margin-top: 19px;
	}
	.header ul.nav{
		float: none;
		margin: 0;
	}
	.navbar-collapse.in {
		overflow: inherit;
	}
	.header .navbar-collapse {
		max-height: 3000px;
	}
	/*.navbar-nav > li > .dropdown-menu {
		margin-left: 30px;
	}*/
	.header .nav li.menu-search span.sep {
		display: none;
	}
	.scrolling-fixed.header .nav li.menu-search {
    	padding: 12px;
	}
	.no-space-steps {
		padding: 0 15px;
	}
	.front-steps.front-step-one:after, .front-steps.front-step-two:after {
		border-top: none;
		border-bottom: none;
	}
	.sidebar {
		padding-top: 50px;
	}
}
@media (max-width: 766px) {
	.no-space-steps {
		padding: 0;
	}
}

/*BEGIN max and min width 320px*/
@media (max-width: 320px) {

	.header .search-box input {
		width:160px;
	}
	
	.input-append input {
		width_:160px;
	}
}	
@media (min-width: 768px) and (max-width: 992px) { 
	/*.container{
		max-width: 100%;
	}*/
	.header .navbar-collapse{
		float: none;
		margin-left: -15px;
	}
	.header ul.nav {
		clear: both;
		float: left;
	}
	.header .nav li {
		margin-right: 25px;
	}
	.header .nav li > a, .header .nav li:hover > a, .header .nav li.active > a, .header .nav li.active:hover > a{
		padding: 12px 0 13px !important;
		border: none !important;
	}
	.header .nav li li {
		margin-right: 0;
	}
	.header .nav li li > a, .header .nav li li:hover > a, .header .nav li li.active > a, .header .nav li li.active:hover > a{
		padding: 9px 15px !important;
	}
}
@media screen and (min-width:768px){

#container #header {

	background-color:#000;
	
    height:90px;
	background-position:center;
	background-repeat: no-repeat;
	text-align:center;
	margin-bottom:28px;
	width: 100%;
	
}

button#showLeftPush
{
	background: url(/images/menu.png) no-repeat scroll 0 0 / 72px 40px rgba(0, 0, 0, 0);
    border:none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 0.8em;
    height: 40px;
    margin: 3px 15px 0 6px;
    outline: medium none;
    padding: 10px;
    width: 72px;
}

button#showTopPush
{
	background: url(/images/menu.png) no-repeat scroll 0 0 / 72px 40px rgba(0, 0, 0, 0);
    border:none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 0.8em;
    height: 40px;
    margin: 3px 15px 0 6px;
    outline: medium none;
    padding: 10px;
    width: 72px;
}
.login_dialog .modal-dialog {
	width:440px;
	margin:150px auto 0px auto;
}
.signup_dialog .modal-dialog {
	width:440px;}

#container #sidebar 
{
	display:block;
}
#container #sidebar {
	float:left;
	width:168px;
	margin-right:40px;
	position: fixed;
}
#container #page {
	float:right;
	margin-right:10px;
	max-width:550px;
	width: 550px;
}
#sidebar #app_panel {
	background:#f3f3f3;
	width:168px;
	margin-top:5px;
	padding-top:14px;	
	padding-bottom:20px;	
}

#sidebar #app_panel #label{
	color:#000;
	font-weight:600;
	font-size:17px;
	margin-left:26px;
	text-align:left;
}
#sidebar #link_app_store {
	background:url(/images/app_itune.png);
	width:138px;
	height:45px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	margin-top:16px;	
	margin-left:14px;
}
#sidebar #link_google_play {
	background:url(/images/app_google_play.png);
	width:139px;
	height:46px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	margin-left:14px;
	margin-top:10px;	
}
.photo_feed_list .feed_item {
	width:260px;
	height:200px;
}
.community_new_post_box a {
	
	font-size:16px;
}
.community_new_post_box a.active {
	
	font-size:16px;
}
.community_new_post_box .new_post_type_text {
	
	padding-left:35px;
	margin-left:10px;
	width:105px;
}
.community_new_post_box .new_post_type_photo {
	
	padding-left:35px;
	margin-left:60px;
	width:118px;	
}
.community_new_post_box .new_post_type_video {
	
	padding-left:35px;
	margin-left:60px;	
}
.community_new_post_box .new_post_details textarea#new_post_text {
	
	width:415px;
}
.community_new_post_box .new_post_details 
{
   height:60px;	
}
.community_new_post_box .new_post_details.text {height:60px;}
.filterBox .community_chooser.left {margin-left:60px;}
.filterBox .community_chooser.right {margin-right:60px;}
.filterBox .community_chooser {
	
	font-size:16px;
}
.feed_list .feed_item .post_thumbnail img{
	
	min-height:350px;
}
#userinfo_update_panel .field input[type=text], #userinfo_update_panel .field input[type=password] {
	width:300px !important; height:25px !important;
}
.feed_list .feed_item ul.post_comments .my_comment .text_my_comment {

    width:460px;
}
.feed_list .feed_item .post_thumbnail img{
	width:100%;
	min-height:250px;
	background:url(/images/loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:50px 50px;
	background-color: #fff;
}

.community_new_post_box .new_post_type_text {
	background:url(/images/icon_post_text.png);
	background-repeat:no-repeat;
	background-size: 25px 25px;
}
.community_new_post_box .new_post_type_photo {
	background:url(/images/icon_post_photo.png);
	background-repeat:no-repeat;
	background-size: 25px 25px;
}
.community_new_post_box .new_post_type_video {
	background:url(/images/icon_post_media.png);
	background-repeat:no-repeat;
	background-size: 25px 25px;
}
.view_post_detail_dialog .modal-dialog {
	width:650px;
	margin:30px auto;
}
.poll_quiz_dialog .answers .answers_content .share_buttons {
	margin-top:10px;

}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#userinfo_update_panel
{
	width:96%;
	margin:0px auto;
}
.profile_container .user_photo {
	width:140px; 
	height:140px;
	border:1px solid #aaa;
	-webkit-border-radius: 70px !important;
	-moz-border-radius: 70px !important;
	border-radius: 70px !important;
}
.profile_container .name {
	margin-left:40px;
	
}
.profile_container .followers, .profile_container .followings, .profile_container .points {
	
	width:110px;
}
.filterBox .profile_filter {
	
	font-size:16px;
	margin-left:90px;
}
.community_new_post_box .new_post_details textarea#new_post_description {
	
	width:415px;
	
}
.login_email_dialog .modal-dialog
{
	width:440px !important;
	margin:150px auto;
}
.signup_dialog .modal-dialog {
	
	margin-top:150px;
	background:#f0f0f0;	
}
.feed_list .feed_item .post_description {
	
	width:100%;
}
.button_facebook {
	
	margin-right:5px;
}
.view_post_detail_dialog .modal-dialog .modal-content {
    padding-left: 30px;
    padding-right: 10px;
}
.confirm_dialog .modal-dialog {
	width:400px;
}
.profile_container .name {
	
	font-size:30px;
}
.profile_container .followers { margin-left:20px; }
.profile_container .followings { width:140px; }
.profile_container .buttons button{
	width:80px;
	margin-left:10px;
	font-size:14px;
}
.profile_container .followers, .profile_container .followings, .profile_container .points {
	
	font-size:14px;
}
.filterBox .profile_filter.myfeed {margin-left:35px;}
.filterBox.myfeed:before {left:54px;}
.filterBox.myfeed:after {left:55px;}
.filterBox.unlockedcontent:before {left:204px;}
.filterBox.unlockedcontent:after {left:205px;}
.filterBox.mylike:before {left:414px;}
.filterBox.mylike:after {left:415px;}
.community_new_post_box .new_post_details.text:before {	left:33px;}
.community_new_post_box .new_post_details.text:after {	left:34px;}
.community_new_post_box .new_post_details.photo:before {	left:202px;}
.community_new_post_box .new_post_details.photo:after {	left:203px;}
.community_new_post_box .new_post_details.video:before {	left:381px;}
.community_new_post_box .new_post_details.video:after {	left:382px;}
.feed_list .feed_item ul.post_comments li.comment_item {
	margin-top:15px;
}
.modal-dialog
{
   margin-top:30px;
}
.photos_img{
   width: 260px; margin-bottom:25px; height: 190px;
}
 #img_preview
 {
    clear:both;
	position: relative;
	z-index: 500;
	top: 10px;
	left: 0px;
	width: 500px;
	float: none;
 }
}

@media screen and (max-width:767px){

#container #header {

	background-color:#000;
	height:72px;
	background-position:center;
	background-repeat: no-repeat;
	text-align:center;
	margin-bottom:20px;
	width: 100%;
}

#header #login_panel
{
	display:none;
}
.layout{
	background:#000;
}
 button#showLeftPush {
	border:none;
	background:url(/images/menu.png) no-repeat;
	color: #fff;
	width: 72px;
	cursor: pointer;
	margin: 3px 15px 0px 6px;
	font-size: 0.8em;
	padding:10px;
	float:left;
	height:40px;
	background-size:72px 40px;
	outline:none;
}
.login_dialog .modal-dialog {
	width:440px;
	margin:130px auto 0px auto;
}
.signup_dialog .modal-dialog {
	width:440px;
	margin:130px auto 0px auto;

}
#container #sidebar #bottomMenu 
{
	display:none !important;
}

#container #sidebar ul#menu
{
	display:none;
}
#container #sidebar {
	float:left;
	width:100%;
	margin-right:0px
	display:none;
	
}
#container #page {
	float:none;
	margin:10px auto;
	display:block;
	width:98%;
	max-width:550px;
}
#sidebar #app_panel #label{
	
	float:left;
	color:#000;
	font-weight:600;
	font-size:17px;
	margin-left:0px;
	text-align:left;
	margin-top:10px;
	
}
#sidebar #link_app_store {
	background:url(/images/app_itune.png) no-repeat;
	width:138px;
	height:45px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	margin-top:0px;	
	margin-left:14px;
	float:left;
}
#sidebar #link_google_play {
	background:url(/images/app_google_play.png) no-repeat;
	width:139px;
	height:46px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	margin-left:14px;
	margin-top:0px;
	float:left;	
}
#sidebar #app_panel
{
	float:none;
	margin:0px auto 20px auto;
	width:430px;
	display:none;
}
.clr
{
	clear:both !important;
}
.photo_feed_list .feed_item {
	width:45%;
	height:180px;
	
}
.community_new_post_box a {
	
	font-size:13px;
}
.community_new_post_box a.active {
	
	font-size:13px;
}
.community_new_post_box .new_post_type_text {
	
	padding-left:25px;
	margin-left:5px;
	width:auto;
}
.community_new_post_box .new_post_type_photo {
	
	padding-left:20px;
	margin-left:5px;
	width:auto;	
}
.community_new_post_box .new_post_type_video {
	
	padding-left:25px;
	margin-left:5px;	
}
.community_new_post_box .new_post_details textarea#new_post_text {
	
	width:70%;
}
.community_new_post_box .new_post_details 
{
   height:100px;	
}
.feed_list .feed_item ul.post_comments .my_comment .text_my_comment {

    width:80%;
}
.community_new_post_box .new_post_details.text {height:90px;}
.filterBox .community_chooser.left {margin-left:10px;}
.filterBox .community_chooser.right {margin-right:10px;}
.filterBox .community_chooser {
	
	font-size:16px;
	
}
/*.feed_list .feed_item .post_thumbnail img{
	
	min-height:250px;
}*/
#userinfo_update_panel .field input[type=text], #userinfo_update_panel .field input[type=password] {
	width:260px !important; height:25px !important;
}
#slider #app_panel
{
	margin-bottom:10px;
	clear:both !important;
}
/*.feed_list .feed_item .post_thumbnail img{
	
	min-height:250px;
}*/
.community_new_post_box .new_post_type_text {
	background:url(/images/icon_post_text.png);
	background-repeat:no-repeat;
	background-size: 18px 18px;
}
.community_new_post_box .new_post_type_photo {
	background:url(/images/icon_post_photo.png);
	background-repeat:no-repeat;
	background-size: 18px 18px;
}
.community_new_post_box .new_post_type_video {
	background:url(/images/icon_post_media.png);
	background-repeat:no-repeat;
	background-size: 18px 18px;
}
.app_panel
{
	width:285px;
	margin:0px auto;
}
.view_post_detail_dialog .modal-dialog {
	width:96%;
	
}
.poll_quiz_dialog .modal-dialog {
	width:96%;
	margin:130px auto;
}
.login_email_dialog .modal-dialog
{
	width:440px;
	margin:100px auto;
}
.poll_quiz_dialog .answers .answers_content .share_buttons {
	margin-top:0px;
	
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
 
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color:none;
  border-color: none;
}
.nav li.open
{
background:none !important;

}
.profile_container .user_photo {
	width:110px; 
	height:110px;
	border:1px solid #aaa;
	-webkit-border-radius: 55px !important;
	-moz-border-radius: 55px !important;
	border-radius: 55px !important;
}
.profile_container .name {
	margin-left:20px;
}
.profile_container .followers, .profile_container .followings, .profile_container .points {
	
	width:70px;
}
.filterBox .profile_filter {
	
	font-size:13px;
	margin-left:20px;
}
.community_new_post_box .new_post_details textarea#new_post_description {
	
	width:70%;
	
}
.dropup.open > .dropdown-toggle, .dropdown.open > .dropdown-toggle
{
	border-bottom:none !important;
}
ul#menu
{
	text-align:left;
	margin:0px;
	padding:0px;
}

.navbar-nav > li > a
{
	/*padding:0.4em 1em 0.4em 1em;*/ /* 10-06-2014 */
	padding:0.9em 0.6em 0.3em 1.3em;
	text-align:left;
	width:100%;
	overflow:hidden;
}
.feed_list .feed_item .post_description {
	
	width:94%;
	margin:10px auto;
}
.button_facebook {
	
	margin-right:0px;
}
.view_post_detail_dialog .modal-dialog .modal-content{

	padding-left:10px;
	padding-right:10px;	
}
.confirm_dialog .modal-dialog {
	width:400px;
}
.profile_container .name {
	
	font-size:30px;
}
.profile_container .followers { margin-left:20px; }
.profile_container .followings { width:140px; }
.profile_container .buttons button{
	width:80px;
	margin-left:10px;
	font-size:14px;
}
.profile_container .followers, .profile_container .followings, .profile_container .points {
	
	font-size:14px;
}
.filterBox .profile_filter.myfeed {margin-left:35px;}
#userinfo_update_panel
{
	margin-bottom:10px;
}
.filterBox.myfeed:before {left:54px;}
.filterBox.myfeed:after {left:55px;}
.filterBox.unlockedcontent:before {left:204px;}
.filterBox.unlockedcontent:after {left:205px;}
.filterBox.mylike:before {left:414px;}
.filterBox.mylike:after {left:415px;}
.community_new_post_box .new_post_details.text:before {	left:33px;}
.community_new_post_box .new_post_details.text:after {	left:34px;}
.community_new_post_box .new_post_details.photo:before {	left:202px;}
.community_new_post_box .new_post_details.photo:after {	left:203px;}
.community_new_post_box .new_post_details.video:before {	left:381px;}
.community_new_post_box .new_post_details.video:after {	left:382px;}

.cbp-spmenu .nav .open > a, .cbp-spmenu .nav .open > a:hover, .cbp-spmenu .nav .open > a:focus {
    background-color: #181818;
    border-color: none !important;
}
.feed_list .feed_item ul.post_comments li.comment_item {
	margin-top:7px;
}
.photos_img{
   width: 260px; margin-bottom:25px; height: 190px;
}
/*
header
{
   position:fixed;
   width:100%;
    z-index:9999;
}*/
#container #header
{
   position:fixed;
   z-index:9999;
}





.nav_spacer
{
  /* height:110px;*/  height:90px;
   width:100%;
   margin:0px auto;
}
 #img_preview
 {
    clear:both;
	position: relative;
	z-index: 500;
	top: 10px;
	left: 0px;
	width:80%;
	float: none;
 }
 #menu li .dropdown
 {
    font-weight:bold;
   
 }
 .feed_list .feed_item .post_thumbnail {}
 .feed_list .feed_item .post_description { text-align:inherit !important; padding-bottom:3px !important;}
 .feed_list .feed_item {margin-bottom:20px !important;}
 }

@media screen and (max-width:479px) {
.feed_list .feed_item .post_thumbnail {min-height:inherit !important;}
.login_dialog .modal-dialog {
	width:300px;
	margin:10px auto 0px auto;
}  

.modal_header.login1 img
{
	width:167px;
	height:79px;
	margin-top:10px;
}
.login_email_dialog .modal-dialog {
	width:300px !important;
	margin-top:20px;
	background:#f0f0f0;	
}
.signup_dialog .modal-dialog {
	width:300px;
	margin-top:20px;
}
.confirm_dialog .modal-dialog {
	width:300px !important;
}
#container #sidebar #bottomMenu 
{
	display:none !important;
}

#container #sidebar ul#menu
{
	display:none;
}
#sidebar #app_panel #label{
	
	display:none;
	
}
#sidebar #app_panel
{
	float:none !important;
	margin:0px auto 10px auto !important;
	width:290px;
	
}
#sidebar #link_app_store {
	
	margin-left:0px;
	
}
#sidebar #link_google_play {
	
	margin-left:5px;

}
.community_new_post_box a {
	
	font-size:12px;
}
.filterBox .community_chooser.left {margin-left:5px;}
.filterBox .community_chooser.right {margin-right:5px;}
.filterBox .community_chooser {
	
	font-size:13px;
	
}
/*.feed_list .feed_item .post_thumbnail img{
	
	min-height:200px;
}*/
.community_new_post_box .new_post_type_text {

	background-size: 18px 18px;
}
.community_new_post_box .new_post_type_photo {

	background-size: 18px 18px;
}
.community_new_post_box .new_post_type_video {
	
	background-size: 18px 18px;
}
.post_name_time
{
	clear:right;
}
#container #page {
	float:none;
	margin:0px auto;
	display:block;
	
	overflow-y:visible;
}
.signup_dialog .modal-dialog {
	width:300px !important;
	margin:20px auto 0px auto;
}
label
{
	clear:right !important;
	float:none !important;
	display:block !important;
}
.feed_list .feed_item .post_name_time .post_name {

   font-size:14px !important;   
   white-space: nowrap;
   overflow: hidden;
   /*text-overflow: ellipsis;width:95px;*/
}
.feed_list .feed_item ul.post_comments li.comment_item .comment_name_time .comment_name
{
	font-size:14px !important;

    white-space: nowrap;
    overflow: hidden;
   
}
.view_post_detail_dialog .modal-dialog .modal-content{

	padding-left:5px;
	padding-right:5px;
	
}
.profile_container .followers { margin-left:0px !important; }
.profile_container .followings { width:70px !important;}
.profile_container .buttons button
{
	float:none;
	display:block;
	width:70px;
	font-size:12px;
	margin-left:3px;
}
.profile_container .buttons button.inboxbtn
{
	margin-top:46px;
}
.profile_container .user_photo {
	width:60px; 
	height:60px;
	border:1px solid #aaa;
	-webkit-border-radius: 30px !important;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important;
}
.profile_container .name {
	
	font-size:22px;
	width:120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.profile_container .followers, .profile_container .followings, .profile_container .points {
	
	font-size:12px;
}
.filterBox .profile_filter.myfeed {margin-left:20px;}
#userinfo_update_panel .field
{
	width:260px;
	margin:10px auto;
}
#userinfo_update_panel
{
	margin-bottom:10px;
}
.filterBox.myfeed:before {left:54px;}
.filterBox.myfeed:after {left:55px;}
.filterBox.unlockedcontent:before {left:120px;}
.filterBox.unlockedcontent:after {left:121px;}
.filterBox.mylike:before {left:230px;}
.filterBox.mylike:after {left:231px;}
.community_new_post_box .new_post_details.text:before {	left:33px;}
.community_new_post_box .new_post_details.text:after {	left:34px;}
.community_new_post_box .new_post_details.photo:before {	left:130px;}
.community_new_post_box .new_post_details.photo:after {	left:131px;}
.community_new_post_box .new_post_details.video:before {	left:209px;}
.community_new_post_box .new_post_details.video:after {	left:210px;}

.profile_container .buttons button.inboxbtn {
margin-top: 46px;}
.feed_list .feed_item ul.post_comments li.comment_item .comment_content
{
  
  margin-left:10px !important;
  margin-right: 10px !important;
  
}
.feed_list .feed_item ul.post_comments .button_view_more_comments
{
  margin-left:10px;
}
.photos_img{
   width:160px; height: 190px;margin-right:5px;
}

.feed_list .feed_item .post_description { text-align:inherit !important; padding-bottom:3px !important;}
.feed_list .feed_item {margin-bottom:20px !important;}

}


.followmebar13{
 left:150px;
 
 /* -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 transition: all 0.5s ease; */
}



@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 

.feed_list {

padding:5px !important;
}
#container #header #logo {
    background: url(/images/ef-logo-starclub.png) no-repeat scroll 0 0 / 398px 45px rgba(0, 0, 0, 0);
    height: 45px;
    margin: 1px auto 0;
    width: 398px;
}
#container #page {
padding-left:0px !important;
padding-right:0px !important;
}

.view_post_detail_dialog .modal-dialog .modal-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 20px;
}
ul.feed_list.ng-scope li.feed_item.quiz.ng-scope div.post_frame div.post_details div.post_thumbnail.ng-scope{
	min-height: none !important;
}
.post_description_quiz {
	width:50% !important;
	}


	.community_new_post_box .new_post_details.text:before {	left:3px;}
.community_new_post_box .new_post_details.text:after {	left:4px;}
.community_new_post_box .new_post_details.photo:before {	left:82px;}
.community_new_post_box .new_post_details.photo:after {	left:83px;}
.community_new_post_box .new_post_details.video:before {	left:161px;}
.community_new_post_box .new_post_details.video:after {	left:162px;}

}



