

@media screen and (min-width:768px){


#logo_main{
   background: url(http://d3hl6zmfu9utfu.cloudfront.net/~~CHANNEL~~/images/logo.png) no-repeat scroll 0 0 / 169px 67px rgba(0, 0, 0, 0);
   width:169px;
   height:67px;
   margin:0 auto;
}

}

#container #header #logo {
	background: url(http://d3hl6zmfu9utfu.cloudfront.net/~~CHANNEL~~/images/ef-logo.png) no-repeat scroll 0 0 / 240px 45px rgba(0, 0, 0, 0);
    height: 45px;
    margin: 1px auto 0;
    width: 240px;
	
}
#landing_page_banner {
    background: url(http://d3hl6zmfu9utfu.cloudfront.net/~~CHANNEL~~/images/banner.png) no-repeat scroll 0 0 / 596px 189px rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 189px;
    margin: -5px auto 30px;
    width: 596px;
}

#community_banner {
    background: url(http://d3hl6zmfu9utfu.cloudfront.net/~~CHANNEL~~/images/banner.png) repeat scroll 0 0 / 596px 189px rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 189px;
    margin: 0 auto 30px;
    width: 595px;
    background-repeat: no-repeat;
}