.feed_list .feed_item .post_name_time .post_name {
	font-size:16px;
	font-weight:600;
	color:#6292dc;
	height:20px;
	line-height:20px;
}

 h1{

 	color:#6292dc;
 	margin-top:-55px;
 	text-align:center;
 }

 .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
   background:none !important;
   color:#6292dc;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
background:none !important;
color:#6292dc;
}

.feed_list .feed_item .post_name_time .post_name a{text-decoration:none;color:#6292dc;}