[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.dropdown-menu li a:hover { color: #000;  }
.cd-form input[type="submit"] { background:#000; }
.dropdown{ color:#000;}
.my-btn-default { color:#000; }
.open .my-btn-default { color:#000;}
.dropdown.open .dropdown-toggle  {color:#000;}
.my-dropdown-menu li{ color:#000; } 
.my-dropdown-menu li > a { color:#000; }
a.icon-menu3{color:#000 !important;}
.login_top a{color:#000; border:1px solid #ccc !important; width: 80px;  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #F3F3F3),
  color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #F3F3F3 0%, #FFFFFF 100%);}
.facebook-new, .twitter-new{  color:#000;}
.feed_list .feed_item .button_star,.feed_list .feed_item .button_star1 { color:#000; }
.facebook-new, .twitter-new { color: #000; font-size:30px; margin-right: 10px; }
.login_top_out a{color:#000; border:1px solid #ccc !important; background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #F3F3F3),
  color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #F3F3F3 0%, #FFFFFF 100%);}

#title_background{background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0 !important; border: 0 solid; float: left; padding: 0; position: relative; width: 100% !important; height:160px;}
 #title_background_mobile {  width:100%; display:block; float:left; position:relative;}
 .top_video .top_title{  padding-top:15px; font-weight:900;height:24px; background:none !important; margin-top:80px; }
#title_background img{ width:100%; position:absolute; top:0; left:0; border:1px solid #ccc;}
@media screen and (max-width:736px) {
  .top_video .container { margin-top: 5px; max-width: 736px; width: 100%; }

  .dropdown{top:5px !important; left:40px !important;}
  #title_background{ float:left !important;  position:relative !important; }
  #title_background img{ left: 0; position: absolute;  width: 100%;} 
  .top_video {  }
  .top_video .top_title{ height:80px !important; width:100% !important; text-align:center; background:#fff; margin-top: 50px;}
  #title_background img{ top:45px !important;}
}
#myPlayer, #myTwitterPlayer {  background-color: #000; }
#myPlayer .fp-ratio, #myTwitterPlayer .fp-ratio { padding-top: 56.25%; }
.flowplayer .fp-logo {
  /* logo always visible, even on origin domain */
  display: block;
  opacity: 1 !important;
  left: auto; /* avoid logo being stuck on left side */
  right: 85%;
}
.flowplayer.is-touch .fp-logo img { width: 50%; /* 100% default */ } 