@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?gxgmxu');
	src:url('fonts/icomoon.eot?#iefixgxgmxu') format('embedded-opentype'),
		url('fonts/icomoon.woff?gxgmxu') format('woff'),
		url('fonts/icomoon.ttf?gxgmxu') format('truetype'),
		url('fonts/icomoon.svg?gxgmxu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-menu4:before {
	content: "\e9c0";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-twitter3:before {
	content: "\ea93";
}

