

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#FEFEFE;}

/* Container */
#simplemodal-container {height:360px; width:500px; color:#bbb; background-color:#EEE; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#FEFEFE; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#FEFEFE;}

.ui-button,  .ui-button-text .ui-button{  
font-size: 30px !important; 
}