<div id="message_wrapper">
	<div  id="userinfo_update_panel" class="contents">
	
	
	<fieldset>
		<legend>Buy credits</legend>
		<div class="field">
			<label for="text_fullname">Credits</label>
			<select id="credits_count" class="input-block-level">
	          <option value="100">100 credits($0.99)</option>
	          <option value="200">200 credits($1.98)</option>
	          <option value="300">300 credits($2.97)</option>
	          <option value="400">400 credits($3.96)</option>
	          <option value="500">500 credits($4.95)</option>
	        </select>
		</div>
	</fieldset>
	<fieldset>
		<legend></legend>
		<div class="error" ng-if="error != ''">
		{{ error }}
		</div>
		<div class="field" ng-if="credit_card_info != null && ACCEPT_CREDITCARD">
		<input type="radio" id="card_type_existing" ng-click="onUseExistingCardInfo_click()" ng-checked="card_option == 0" />&nbsp;Use existing credit card
		<div id="new_card_panel">
		{{creditCardTypeName[credit_card_info.card_type]}} / {{credit_card_info.number}} / {{credit_card_info.first_name}} {{credit_card_info.last_name}}&nbsp;&nbsp;&nbsp;
		<a style="cursor:pointer" ng-click="onRemoveCard_click()">Remove Card</a>
		</div>
		</div>
		
		
		<div class="field">
		<input type="radio" id="card_type_new" ng-click="onPaybyPaypal_click()" ng-checked="card_option == 2" />&nbsp;Pay by Paypal
		</div>
		<div class="field" ng-if="ACCEPT_CREDITCARD == true">
		<input type="radio" id="card_type_new" ng-click="onEnterNewCardInfo_click()" ng-checked="card_option == 1" />&nbsp;Pay by new Credit card
		</div>
		<div id="new_card_panel" ng-if="card_option == 1 && ACCEPT_CREDITCARD">
		    <div class="field">
				<label for="text_fullname">Card Holder's Name</label>
				<input id="card_first_name" type="text" class="input-block-level" pattern="\w+ \w+.*" title="First name" placeholder="First name"  required="" style="width:120px !important;">
				<input id="card_last_name" type="text" class="input-block-level" pattern="\w+ \w+.*" title="Last name" placeholder="Last name" required="" style="width:120px !important;">
			</div>
			
		    <div class="field">
				<label for="text_fullname">Card Type</label>
				<select id="card_type" class="input-block-level" name="cc_exp_mo">
		          <option value="visa">Visa</option>
		          <option value="mastercard">Mastercard</option>
		          <option value="discover">Discover</option>
		          <option value="amex">American Express</option>
		        </select>
			</div>
		    <div class="field">
				<label for="text_fullname">Card Number</label>
				<input id="card_number" type="text" class="input-block-level" autocomplete="off" maxlength="16" pattern="\d{4}\\d{4}\\d{4}\\d{4}" placeholder="16 digits" title="16 digits" required="">
			</div>
		    <div class="field">
				<label for="text_fullname">Card Expiry Date</label>
				<select id="card_expire_month" class="input-block-level" name="cc_exp_mo">
		          <option value="01">January</option>
		          <option value="02">February</option>
		          <option value="03">March</option>
		          <option value="04">April</option>
		          <option value="05">May</option>
		          <option value="06">June</option>
		          <option value="07">July</option>
		          <option value="08">August</option>
		          <option value="09">September</option>
		          <option value="10">October</option>
		          <option value="11">November</option>
		          <option value="12">December</option>
		        </select>
		        <select id="card_expire_year" class="input-block-level" name="cc_exp_yr">
		           <option>2014</option>
		           <option>2015</option>
		           <option>2016</option>
		           <option>2017</option>
		           <option>2018</option>
		           <option>2019</option>
		           <option>2020</option>
		           <option>2021</option>
		           <option>2022</option>
		         </select>
			</div>
		    <div class="field">
				<label for="text_fullname">Card CVV</label>
				<input id="card_cvv" type="text" class="input-block-level" autocomplete="off" maxlength="3" pattern="\d{3}" title="" required="yes">
			</div>
		</div>
	    <div class="field">
	    	<center><button id="button_update" ng-click="onBuyCredits_click()">Buy</button></center>
		</div>
	</fieldset>
</div>
</div>