<div id="title_background"><div class="top_title">#STARCLUBCHALLENGE</div></div>
<div id="community_banner"></div>
<div class="community_new_post_box" newpost ng-if="current_user != null">
</div>
<div class="filterBox" ng-class="{following:filter==0,everyone:filter==1}" ng-if="current_user != null">
	<a ng-click="onViewCommunityFollowing_click()" class="community_chooser left">
		<b ng-if="filter==0" class="active">View Following</b>
		<b ng-if="filter!=0">View Following</b>
	</a>
	<a ng-click="onViewCommunityEveryone_click()" class="community_chooser right">
		<b ng-if="filter==1" class="active">View Everyone</b>
		<b ng-if="filter!=1">View Everyone</b>
	</a>
	<div class="clear"></div>
</div>
<ul class="feed_list" infinite-scroll="loadData()">
	<li ng-repeat="post in feeds" feeditem class="feed_item">
	</li>
</ul>