<div id="message_wrapper">
<div class="modal-header">
	{{options.title}}
</div>
<div class="modal-body">
	{{options.description}}
</div>
<div class="modal-footer">
    <button class="btn btn-ok" ng-click="onOk()">{{button_text.ok}}</button>
    <button class="btn btn-cancel" ng-click="onCancel()" ng-if="options.type == 'CONFIRM'">{{button_text.cancel}}</button>
</div>
</div>