<div id="title_background"><div class="top_title">Inbox</div></div>
<div id="inbox">
	<div ng-repeat="message in messages" class="inbox-item">
		<div class="message_status" ng-class="{icon_new:message.is_seen==0}"></div>
		<img class="sender_photo" ng-src="{{SERVER_URL}}/assets/ufile/{{ message.img_url }}" ng-if="message.img_url != ''" />
		<img class="sender_photo" ng-src="{{ WEBSITE_URL }}/images/default_photo.png" ng-if="message.img_url == ''" />
		<div class="sender_time">
			<a href="#/viewprofile/{{message.sender_id}}_{{message.name}}" class="sender_name">{{ message.name }}</a>
			<div class="timestamp">{{ CommonLib.get_time_ago(message.time_stamp) }}</div>
		</div>
		<div class="contents" ng-click="onViewMessageDetail(message)">{{message.message_text.substr(0, 100)}}...</div>
		<div class="clear"></div>
	</div>
</div>