<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> 
<html lang="en" ng-app = "enriqueApp"> <!--<![endif]-->
<head>
        <script type="text/javascript">
alert('loaded index');
          if (window.location.href.indexOf("#/") > -1) {

          }else {
              window.location="http://neymar.starsite.com/viewpost_auth.php";

          }
    </script>
      
    <meta charset="utf-8" />
    <title>NEYMAR</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta content="" name="description" />
    <meta content="" name="author" />
 	<!-- Facebook
 	<meta property="og:title" content="{{ meta_tag.title }}" ng-if="meta_tag != null" />
	<meta property="og:type" content="image" ng-if="meta_tag != null" />
	<meta property="og:image" content="{{ meta_tag.image }}" ng-if="meta_tag != null" />
	<meta property="og:url" content="{{ meta_tag.link }}" ng-if="meta_tag != null" />
	<meta property="og:description" content="{{ meta_tag.description }}" ng-if="meta_tag != null" />
	<!-- Twitter
	<meta name="twitter:title" content="{{ meta_tag.title }}" ng-if="meta_tag != null" />
	<meta name="twitter:description" content="{{ meta_tag.description }}" ng-if="meta_tag != null" />
	<meta name="twitter:image" content="{{ meta_tag.image }}" ng-if="meta_tag != null" /> -->

   <!-- BEGIN GLOBAL MANDATORY STYLES -->          
   <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   <!-- END GLOBAL MANDATORY STYLES -->
    
   <!-- BEGIN THEME STYLES --> 
   <link href="css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="css/style.css" rel="stylesheet" type="text/css"/>
   <link href="css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="css/custom.css" rel="stylesheet" type="text/css"/>
   <link href="css/highlights.css" rel="stylesheet" type="text/css"/>

  <link type="text/css" rel="stylesheet" href="css/switchery.min.css">
  
   <!-- END THEME STYLES -->
 
 	 <script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" type="text/css" href="css/mobile_menus.css" />
    <link rel="stylesheet" href="css/jquery.smartbanner.css" type="text/css" media="screen">
    
   
   <script src="scripts/modernizr.custom.js"></script>
    <script>
        var d = new Date();
        d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = expires;
    </script>
</head>
<body ng-controller="indexController" class="cbp-spmenu-push">
	<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1440671026187879',
          status     : true,
          xfbml      : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
	<div id="container">
    <div id="jqSmartBanner"></div>
    <header>
    <div id="header">
      
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left menuBanner" id="cbp-spmenu-s1">

                    <ul id="menu">
                        <li ng-class="{active:current_page=='homefeed' || current_page ==''}"><a href="#homefeed">all access</a></li>
                        <li ng-class="{active:current_page=='community'}"><a href="#community">Community</a></li>
                        <li ng-class="{active:current_page=='photos'}"><a href="#photos">Photos</a></li>
                        <li ng-class="{active:current_page=='videos'}"><a href="#videos">Videos</a></li>
                        <li ng-class="{active:current_page=='tourdates'}"><a href="#tourdates">Tour dates</a></li>
                        <li ng-class="{active:current_page=='polls_quizzes'}"><a href="#polls_quizzes">Polls & Quizzes</a></li>
                        <li ng-class="{active:current_page=='shop'}"><a href="#shop">Shop</a></li>
                        <li ng-class="{active:current_page=='ranking'}"><a href="#ranking">Ranking</a></li>
                        <li>
                            <div id="login_panel_menu">
                                <a id="button_login" ng-if="current_user == null" ng-click="onShowLoginButton_click()">Login</a>
                                <a id="button_signup" ng-if="current_user == null" ng-click="onShowSignupButton_click()">Sign up</a>

                                <!--<img class="current_user_photo" ng-src="{{ current_user.img_url }}" ng-if="current_user != null && current_user.img_url != ''" />
                                <img class="current_user_photo" ng-src="/images/default_photo.png" ng-if="current_user != null && current_user.img_url == ''" />-->
                                <ul style="margin-top:70px;" class="nav navbar-nav navbar-right" ng-if="current_user != null">
                                    <li class="dropdown">
                                        

                                    <li><a href="#viewprofile/{{ current_user.id }}_{{ current_user.name}}">My profile</a></li>
                                    <li><a href="#settings">Settings</a></li>
                                    <li><a href="#inbox">Inbox</a></li>
                                    <li><a href="#" ng-click="onLogout()">Logout</a></li>


                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>


                

             <section>   
			<div class="layout_head"><div id="mb_border_mobile"><div id="mb_border_s"><button id="showLeftPush" title="click here for navigation" class="outer"></button></div></div><ul class="nav navbar-nav navbar-left" ng-if="current_user != null">
                      <li class="dropdown">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            	 <div id="mb_border"><div id="mb_border_s"><button id="showLeftPush" title="click here for navigation"></button></div></div> 
                          </a>
                          <ul class="dropdown-menu">
                            <li ng-class="{active:current_page=='homefeed' || current_page ==''}" class="no-border-top"><a href="/">Videos</a></li>
                        <li ng-class="{active:current_page=='community'}"><a href="#community">Upload a Video</a></li>
                        
                        
                    </ul>
                    </li>
                    </ul>

				<div id="logo"></div>
        
				<div id="login_panel">
          <div id="lp_border">
					<a id="button_login" ng-if="current_user == null" ng-click="onShowLoginButton_click()">Login</a>
					<a id="button_signup" ng-if="current_user == null" ng-click="onShowSignupButton_click()">Sign up</a>
					
					<img class="current_user_photo" ng-src="{{ current_user.img_url }}" ng-if="current_user != null && current_user.img_url != '' && current_user.img_url != 'http://d3hl6zmfu9utfu.cloudfront.net/starclubtest/assets/ufile/'" onerror="javascript:this.src='http://d3hl6zmfu9utfu.cloudfront.net/default_avatar.png'" />
                                    <img class="current_user_photo" ng-src="http://d3hl6zmfu9utfu.cloudfront.net/starclubtest/assets/ufile/photo/default_photo.png" ng-if="current_user != null && (current_user.img_url == '' || current_user.img_url == 'http://d3hl6zmfu9utfu.cloudfront.net/starclubtest/assets/ufile/')" onerror="javascript:this.src='http://d3hl6zmfu9utfu.cloudfront.net/default_avatar.png'" />
					<ul class="nav navbar-nav navbar-right" ng-if="current_user != null">
	                    <li class="dropdown">
	                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-cloak>{{ current_user.firstname }}<b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li class="no-border-top"><a href="#viewprofile/{{ current_user.id }}_{{ current_user.name}}" ng-cloak>My profile</a></li>
	                            <li><a href="#settings">Settings</a></li>
	                            <li><a href="#inbox">Inbox</a></li>
								<li><a href="#help">Help</a></li>
	                            
	                            <li><a href="#" ng-click="onLogout()">Logout</a></li>
	                        </ul>
	                    </li>
                	</ul>
				</div>
      </div>
			</div>
            </section>
            


            
              
		    </div>
        </header>
		
        <div class="layout">
            
            <section>

                <div ng-view id="page">


                 </div>
            </section>
		</div>
	</div>
 	<audio ng-if="music_play && music_file != ''" autoplay loop>
 		<source ng-src="{{music_file}}" type="audio/mpeg">
 	</audio>
    <script src="scripts/vendor/jquery/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="scripts/vendor/jquery/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="scripts/vendor/bootstrap/bootstrap.min.js" type="text/javascript"></script> 
    
	<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
    <!--[if lt IE 9]>
    <script src="scripts/vendor/respond/respond.min.js"></script>  
    <![endif]-->   
    <!-- END CORE PLUGINS -->   

    <script src="scripts/metro_app.js"></script>    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            MetroApp.init();                    
        });
    </script>
    
    <script src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
<script src="//cdn.jsdelivr.net/headroomjs/0.5.0/angular.headroom.min.js"></script>
<script src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js"></script>
   <script src="scripts/vendor/angular.js/angular.min.js"></script>
   
   <script src="scripts/vendor/angular.js/angular-route.min.js"></script>
   <script src="scripts/vendor/angular.js/angular-cookies.min.js"></script>
   <script src="scripts/vendor/angular.js/angular-animate.min.js"></script>
   <script src="scripts/vendor/angular.js/angular-sanitize.min.js"></script>
   <script src="scripts/vendor/angular.js/angular-file-upload-shim.min.js"></script>
   <script src="scripts/vendor/angular.js/angular-file-upload.min.js"></script>
   <script src="scripts/vendor/angular.js/ng-infinite-scroll.min.js"></script>
   <!-- <script src="scripts/vendor/angular.js/ngCloak.js"></script>
   <script src="scripts/vendor/angular.js/angular.dirPagination.js"></script>
   <script src="scripts/vendor/angular.js/angular.dirPagination.spec.js"></script>
   -->
    <script src="scripts/vendor/common/common.js"></script>
    <script src="scripts/vendor/common/ss_ad.js"></script>
    <script src="scripts/vendor/common/ss_stats.js"></script>
    <script src="scripts/vendor/bootstrap/ui-bootstrap-tpls-0.10.0.min.js" type="text/javascript"></script> 
    <script src="scripts/app.js"></script>
    <script src="scripts/vendor/swichery/ng-switchery.js"></script>
    <script src="scripts/vendor/swichery/switchery.min.js"></script>

    <script src="scripts/vendor/angular.js/angularytics.js"></script>
    <!-- Directives -->
    <script src="scripts/directives/feedItemDirective.js"></script>
    <script src="scripts/directives/newPostDirective.js"></script>
    <script src="scripts/directives/brightCovePlayerDirective.js"></script>
    <script src="scripts/directives/attrOnOffDirective.js"></script>
    <!-- Controllers -->
    <script src="scripts/controllers/indexController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/loginEmailController.js"></script>
    <script src="scripts/controllers/signupController.js"></script>
    <script src="scripts/controllers/mainFeedController.js"></script>
    <script src="scripts/controllers/draftsController.js"></script>
    <script src="scripts/controllers/communityController.js"></script>
    <script src="scripts/controllers/photosController.js"></script>
    <script src="scripts/controllers/videosController.js"></script>
    <script src="scripts/controllers/tourDatesController.js"></script>
    <script src="scripts/controllers/shopController.js"></script>
    <script src="scripts/controllers/rankingController.js"></script>
    <script src="scripts/controllers/viewProfileController.js"></script>
    <script src="scripts/controllers/viewPostController.js"></script>
    <script src="scripts/controllers/settingsController.js"></script>
    <script src="scripts/controllers/inboxController.js"></script>
    <script src="scripts/controllers/sendMessageController.js"></script>
    <script src="scripts/controllers/viewMessageController.js"></script>
    <script src="scripts/controllers/pollsAndQuizzesController.js"></script>
    <script src="scripts/controllers/confirmDialogController.js"></script>
    <script src="scripts/controllers/pollQuizController.js"></script>
    <script src="scripts/controllers/musicPlayerController.js"></script>
    <script src="scripts/controllers/likeUsersController.js"></script>
    <script src="scripts/controllers/approvalUsersController.js"></script>
    <script src="scripts/controllers/helpController.js"></script>
    <script src="scripts/controllers/viewHelpController.js"></script>
    <script src="scripts/controllers/buyCreditsController.js"></script>
    <script src="scripts/controllers/selectFacebookPageController.js"></script>
    <script src="scripts/controllers/syndicateController.js"></script>
    
    <script src="scripts/classie.js"></script>

        <script src="scripts/controllers/previewController.js"></script><!-- added this on 17-6-2014-->
    
    <script>

      $("#header").headroom();
     
     
      var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        
        body = document.body;


showLeftPush.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(body, 'cbp-spmenu-push-toright');
    classie.toggle(header, 'cbp-spmenu-push-toright');
    classie.toggle(menuLeft, 'cbp-spmenu-open');
    $('.layout').toggleClass('frozen');
    $('#header').toggleClass('followmebar13');

    if ($('#smartbanner').css('top') == '0px') { //if smart banner exists
        $('#cbp-spmenu-s1').addClass('menuBanner');
    } else { // not exists
        $('#cbp-spmenu-s1').removeClass('menuBanner');
    }

};



$('#cbp-spmenu-s1 li a').click(function() {
    hideMobileSubMenu();
});

$('#login_panel_menu ul li a').live('click', function(e) {
    hideMobileSubMenu();
});

$('#cbp-spmenu-s1 li ul li a').click(function() {
    hideMobileSubMenu();
});

$('#cbp-spmenu-s1 li ul li#logoutbtn a').click(function() {
    hideMobileSubMenu();
});

$('#smartbanner .sb-close').live("click", function() {
    $('#cbp-spmenu-s1').removeClass('menuBanner');
});

function hideMobileSubMenu() {
    if ($('#showLeftPush').is(':visible') == true) {
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(header, 'cbp-spmenu-push-toright');
        $('.layout').toggleClass('frozen');
        $('#header').toggleClass('followmebar13');
    }
}

var w = $(window).width();

if(w > 767) {
                $('#cbp-spmenu-s1').hide();
                $('body').removeClass('cbp-spmenu-push-toright');
                $('header').removeClass('cbp-spmenu-push-toright');
                
            }
            else {
                $('#cbp-spmenu-s1').show();
                
                
            }
$(window).resize(function(){
            var w = $(window).width();
            if(w > 767) {
                $('#cbp-spmenu-s1').hide();
                $('body').removeClass('cbp-spmenu-push-toright');
                $('header').removeClass('cbp-spmenu-push-toright');
            }
            else {
                $('#cbp-spmenu-s1').show();
                
            }
        });


    </script>
<script>
            
                        function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toGMTString();
                document.cookie = cname + "=" + cvalue + "; " + expires;
            }


            function getCookie(cname) {
                var name = cname + "=";

                var ca = document.cookie.split(';');

                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ')
                        c = c.substring(1);
                    if (c.indexOf(name) != -1) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            
            
            
            
            var ss_userid = '';
            
            jQuery(document).ready(function() {
                var ss_userid = getCookie("ss_userid");
               
                if (ss_userid == 'undefined' || ss_userid == '') {
                     //alert(document.cookie);
                    var ss_userid = $("#curUserId").val();
                    if (ss_userid != '') {
                        setCookie("ss_userid", ss_userid, 365);
                    } else {
                        //alert('noo');
                    }
                }
          //alert(ss_userid);
                // (function(i, s, o, g, r, a, m) {
                //     i['GoogleAnalyticsObject'] = r;
                //     i[r] = i[r] || function() {
                //         (i[r].q = i[r].q || []).push(arguments)
                //     }, i[r].l = 1 * new Date();
                //     a = s.createElement(o),
                //             m = s.getElementsByTagName(o)[0];
                //     a.async = 1;
                //     a.src = g;
                //     m.parentNode.insertBefore(a, m)
                // })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                // ga('create', 'UA-46624794-23a', 'starclubtest.starsite.com');
                // ga('require', 'displayfeatures');

                if (ss_userid != undefined) {
                    // ga('create', 'UA-46624794-23a', {'userId': ss_userid});
                } else {

                    // ga('create', 'UA-46624794-23a', {'userId': ss_userid});
                }
                ga('send', 'pageview');

            })


            var _paq = _paq || [];
            _paq.push(["setDocumentTitle", document.URL]);
            _paq.push(["setCookieDomain", "*.starclubtest.starsite.com"]);
            _paq.push(["setCustomVariable", 1, "userid", getCookie("ss_userid"), "visit"]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);


            (function() {
                var u = (("https:" == document.location.protocol) ? "https" : "http") + "://reports.starsite.com/";
                _paq.push(["setTrackerUrl", u + "starstats.php"]);
                _paq.push(["setSiteId", "14"]);
                var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
                g.type = "text/javascript";
                g.defer = true;
                g.async = true;
                g.src = u + "piwik.js";
                s.parentNode.insertBefore(g, s);
            })();

            var _qevents = _qevents || [];
            (function() {
                var elem = document.createElement('script');
                elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
                elem.async = true;
                elem.type = "text/javascript";
                var scpt = document.getElementsByTagName('script')[0];
                scpt.parentNode.insertBefore(elem, scpt);
            })();


            _qevents.push({
                qacct: "p-ex9VX87HUN2-z"
            });




        </script>
        <noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-ex9VX87HUN2-z.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>


        <noscript>
        <!-- Starstats Image Tracker -->
        <img src="http://reports.starsite.com/piwik.php?idsite=14&amp;rec=1" style="border:0" alt="" />
        <!-- End Starstats -->
        </noscript>
        
    </body>
</html>

