<div class="like_users">
	<div ng-repeat="user in users" class="user_item">
		<img class="user_photo" ng-src="{{ user.img_url }}" ng-if="user.img_url != ''" />
		<img class="user_photo" ng-src="/images/default_photo.png" ng-if="user.img_url == ''" />
		<a href="#/viewprofile/{{user.user_id}}_{{user.userName}}" class="name">{{ user.userName }}</a>
		<div class="clear"></div>
	</div>
	<div ng-if="users.length == 0">
		<h4><center><BR /><BR />No user likes this post yet. Be the first user!<BR /><BR /></center></h4>
	</div>
	<div class="clear"></div>
</div>