<div id="login_dialog">
	<div class="modal_header">
		<div id="logo_main"></div>
	</div>
	<div class="contents">
		<div class="error" ng-if="error != ''">{{ error }}</div>
		<button id="button_signin_with_facebook" ng-click="onSignInWithFacebook_click()">Sign in with <B>Facebook</B></button><BR>
		<button id="button_signup_with_email" ng-click="onShowSignupButton1_click()">Sign up with <B>Email</B></button><BR>
		Already have an account?<BR />
		<a id="button_signin_now" ng-click="onShowSignInNow_click()">Sign in now</a>
		<Br /><br />
		<input type="checkbox" id="checkbox_accept_terms" checked /><span style="font-family:Arial;font-size:14px;line-height:18px;">&nbsp;&nbsp;&nbsp;I have read the <span style="cursor:pointer;" ng-click="onPrivacyAndPolicy_click()"><b>privacy and policy</b></span> and<br />
		agree to the <span style="cursor:pointer;" ng-click="onTermsOfService_click()"><b>terms of service</b></span>.</span>
	</div>
</div>