<div id="login_email_dialog">
	<div class="modal_header">
		<div class="titlebar"><div class="button_close" ng-click="onCloseButton_click()"></div></div>
		<img src="/images/icon_star_logo.png" />Log in to your account
	</div>
	<div class="contents">
		<div class="error" ng-if="error != ''">
		{{ error }}
		</div>
		<input type="text" id="text_email" name="text_email" placeholder="Email" /><BR />
		<input type="password" id="text_password" name="text_password" placeholder="Password" ng-keyup="$event.keyCode == 13 ? onLoginButton_click() : null" /><BR />
		<button id="button_login" ng-keydown="onLoginButton_click()" ng-click="onLoginButton_click()">Log In</button><BR>
		<!-- <a id="button_forget_password" ng-click="onForgetPasswordShowButton_click()">Forgot password?</a> -->
	</div>
</div>