<div class="modal_header">
	<img src="/images/media_volume_nor.png" />
</div>
<div class="contents">
	<div class="current_music">
		<div class="cover"><img ng-src="{{musics[music_id].image_path}}" /></div>
		<div class="info">
			<label>{{current_status}}</label>
			<label>{{musics[music_id].title}}</label>
			<a class="button_buy" target="_blank" href="{{musics[music_id].url1}}">Buy on Google</a>
			<a class="button_buy" target="_blank" href="{{musics[music_id].url}}">Buy on iTune</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="buttons">
		<button class="button_prev" ng-click="onMusicPrev_click()"></button>
		<button ng-class="{button_play:!music_play,button_paused:music_play}" ng-click="onMusicPlay_click()"></button>
		<button class="button_next" ng-click="onMusicNext_click()"></button>
		<div class="clear"></div>
	</div>
	
	<div class="lists">
		<div class="item" ng-click="onMusicItem_click($index)" ng-repeat="item in musics" ng-class="{active:$index==music_id}">{{item.title}}</div>
		<div class="clear"></div>
	</div>
	
</div>