<a ng-click="onSelectNewPostType($event)" ng-class="{active:new_post_type=='video'}" data-post-type="video" class="new_post_type_video">UPLOAD YOUR VIDEO</a>
<div class="new_post_details" ng-class="{text:new_post_type=='text',photo:new_post_type=='photo',video:new_post_type=='video'}">
	
	<input type="file" id="new_post_file" ng-if="new_post_type=='photo' || new_post_type == 'video'" ng-file-select="onNewPostFileSelect($files, new_post_type)" />
	<textarea id="new_post_description" placeholder="Write description" ng-if="new_post_type=='photo' || new_post_type == 'video'"></textarea>
	<button id="button_post" ng-click="onAddPost(new_post_type, onRefresh)">Post</button>
	<img src="http://www.swol.co/static/img/noImageAvailable.JPG" id="img_preview" ng-if="new_post_type == 'photo'" />
</div>