<div id="title_background"><div class="top_title">Photos</div></div>
<div class="filterBox">
	<li class="dropdown">
		<a class="dropdown-toggle">{{ filter }}<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li ng-repeat="filterItem in filterList"><a ng-click="onChangeFilter($event)" data-filter="{{filterItem}}">{{filterItem}}</a></li>
		</ul>
	</li>
	<div class="clear"></div>
	<div id="photo_display_toggle"><a ng-click="onChangeToList(post)">List</a><a ng-click="onChangeToGrid(post)">Grid</a></div>
</div>

<ul class="photo_feed_list" ng-if="view_type == 'grid'" infinite-scroll="loadData()">
	<li ng-repeat="post in feeds" class="feed_item col-md-4" ng-if="filter == 'All' || filter == post.tags" ng-click="loadPostData('photo', post.id)">
		<a href=""><img ng-src="{{ post.fullimage_path }}" /></a>
		
		<div class="locked_layer" ng-if="post.unlock == false" ng-click="onUnlockContent(post, 'photo', post.id)">
			<div class="key">{{post.credit}} Credits</div>
		</div>
		<div class="clear"></div>
	</li>
</ul>

<ul class="feed_list" ng-if="view_type == 'list'" infinite-scroll="loadData()">
	<li ng-repeat="post in feeds" feeditem class="feed_item">
	</li>
</ul>