<div id="title_background"><div class="top_title">Polls & Quizes</div></div>
<ul class="feed_list" infinite-scroll="loadData()">
	<li ng-repeat="post in feeds" feeditem class="feed_item quiz">
	</li>
</ul>