<div class="message_wrapper">
<div class="header-column">
	<div class="close_icon" ng-click="closeDialog()"></div>
</div>
<div class="question" ng-if="result_page == false || (result_page == true && post.post_type == 'poll')">
	<div class="question-index">Question {{ questionIndex+1 }}</div>
	{{ questions[questionIndex].question_name }}
</div>
<div class="question" ng-if="result_page == true && post.post_type == 'quiz'">
	<div class="question-index">{{ feeds.description }}</div>
	{{ feeds.text }}
</div>
<div class="answers">
	<img ng-src="{{ SERVER_URL + '/assets/ufile/' + questions[questionIndex].background_image_path }}" class="background-image" ng-if="result_page == false" />
	<img ng-src="{{ SERVER_URL + '/assets/ufile/' + questions[questionIndex].end_image_path}}" class="background-image" ng-if="result_page == true" />
	<div class="answers_content" ng-if="result_page == false || (result_page == true && post.post_type == 'poll')">
		<div class="share_buttons" ng-class="{invisible:result_page == false}">
			<label>Share your results!</label>
			<div class="button_facebook float-right" data-id="{{ post.content_id }}" ng-click="shareOnFacebook(poll_result)"></div>
			<div class="button_twitter float-right" data-id="{{ post.content_id }}" ng-click="shareOnTwitter(poll_result)"></div>
		</div>
		<div class="answers_list">
			<table border="0" style="width:100%;height:100%;">
				<tr class="answer_item" ng-repeat="answer in questions[questionIndex].answer">
					<td style="width:50%;">
						<input type="radio" name="answer" id="radio_answer" value="{{ answer.answer_id }}" ng-if="result_page == false" />{{ answer.name }}
					</td>
					<td style="width:50%;" ng-if="result_page == true">
						<div class="percent_bar" ng-repeat="result_item in answer_result" ng-if="result_item.id == answer.answer_id && result_item.percent > 0" style="width:{{result_item.percent}}%">
							{{result_item.percent}}%
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="answer_buttons">
			<button id="button_submit" ng-click="submitAnswer()" ng-if="result_page == false">Submit</button>
			<button id="button_submit" ng-click="nextQuestion()" ng-if="result_page == true">Done</button>
		</div>
	</div>
	<div class="answers_content" ng-if="result_page == true && post.post_type == 'quiz'">
		<div class="share_buttons">
			<label>Share your results!</label>
			<div class="button_facebook float-right" data-id="{{ post.content_id }}" ng-click="shareOnFacebook(quiz_result)"></div>
			<div class="button_twitter float-right" data-id="{{ post.content_id }}" ng-click="shareOnTwitter(quiz_result)"></div>
		</div>
		<div class="answers_list">
			<label class="result_title">Result</label>
			<label class="result">You answered <B>{{ answer_result.correct_count }}/{{ answer_result.total_answers_count}}</B> questions correctly.</label>
			<div class="description">
				{{ answer_result.description }}
			</div>
		</div>
		<div class="answer_buttons">
			<button id="button_submit" ng-click="closeDialog()">Close</button>
		</div>
	</div>
</div>
</div>