<div id="title_background"><div class="top_title">Ranking</div></div>
<div class="ranking_list" infinite-scroll="loadData()">
	<div ng-repeat="user in users" class="user_item">
		<img class="user_photo" ng-src="{{ user.img_url }}" ng-if="user.img_url != ''" />
		<img class="user_photo" ng-src="/images/default_photo.png" ng-if="user.img_url == ''" />
		<a href="#/viewprofile/{{user.user_id}}_{{user.userName}}" class="name">{{ user.userName }}</a>
		<div class="ranking_div">
			<div class="ranking">{{ $index+1 }}</div>
			<div class="points">{{ user.point }}</div>
		</div>
		<div class="clear"></div>
	</div>
</div>