<div id="message_wrapper">
	<div  id="userinfo_update_panel" class="contents">
	<fieldset>
		<legend><center>Select Facebook page to post</center></legend>
		<ul>
			<li ng-repeat="fb_page in fb_pages" ng-class="{selected:fb_page.id == page_id}" ng-click="selectPage(fb_page.id)">
			{{fb_page.name}}
			</li>
		</ul>
		
		<center><button id="button_update" ng-click="updateFacebookPageSettings()">Save</button></center>
	</fieldset>
	</div>
</div>