<div id="message_wrapper">
<img class="receiver_photo" ng-src="{{SERVER_URL}}/assets/ufile/{{ img_url }}" ng-if="img_url != ''" />
<img class="receiver_photo" ng-src="{{ WEBSITE_URL }}/images/default_photo.png" ng-if="img_url == ''" />
<textarea id="text_new_message" placeholder="Write a message here...">{{ message_text }}</textarea>
<button id="button_send_message" ng-click="onSendMessage_click()">Send</button>
<div class="clear"></div>
</div>