<div id="title_background"><div class="top_title">Settings</div></div>
<div id="userinfo_update_panel" class="settings_frame">
<div class="error" ng-if="error != ''">
{{ error }}
</div>
<div class="title">PROFILE</div>
<div class="contents">
<div class="field">
	<label for="text_fullname">Full Name</label>
	<input type="text" id="text_fullname" value="{{ user.name }}" />
</div>
<div class="field">
	<label for="text_email">Email</label>
	<input type="text" id="text_email" value="{{ user.email }}" readonly="readonly" />
</div>
<div class="field">
	<label for="text_password">Password</label>
	<input type="password" id="text_password" value="" />
</div>
<div class="field">
	<label for="text_password1">Confirm password</label>
	<input type="password" id="text_password1" value="" />
</div>
<div class="field">
	<label for="text_birthday">Birthday</label>
	<input type="text" datepicker-popup="yyyy-MM-dd" id="text_birthday" ng-model="user.birthday" is-open="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" />
</div>
<div class="field">
	<label for="text_fullname">Gender</label>
	<input type="radio" name="text_gender" value="0" ng-checked="user.gender==0" />Male&nbsp;&nbsp;
	<input type="radio" name="text_gender" value="1" ng-checked="user.gender==1" />Female
</div>
<div class="field">
	<label for="text_city">City</label>
	<input type="text" id="text_city" value="{{ user.city }}" />
</div>
<div class="field">
	<label for="text_state">State</label>
	<input type="text" id="text_state" value="{{ user.state }}" />
</div>
<div class="field">
	<label for="text_country">Country</label>
	<input type="text" id="text_country" value="{{ user.country }}" />
</div>
<button id="button_update" ng-click="updateUser()">Update</button>
</div>
</div>
<br />
<div id="userinfo_credits" class="settings_frame">
<div class="title">CREDITS</div>
<div class="contents">
<div ng-if="current_user.credit == null || current_user.credit <= 0">
	You have no credits in your bank.
</div>
<div ng-if="current_user.credit != null && current_user.credit > 0">
	You have <span class="credit">{{current_user.credit}}</span> credits in your bank.
</div>
<div id="button_buy_more" ng-click="onBuyMoreCredits()">Buy More</div>
</div>
</div>

<br />
<div id="socialsharing_panel" class="settings_frame">
	<div class="title">SOCIAL SHARING</div>
	<div class="contents">
		<div class="field">
			<label for="text_state" class="label_facebook" ng-click="onSelectFacebookPage()">Post to Facebook &gt;</label>
			<input type="checkbox" id="socialsharing_facebook" class="js-switch" ui-switch switchery-var="user.enable_facebook"  ng-checked="user.enable_facebook == 1" />
		</div>	
		<div class="field">
			<div class="label_twitter">Post to Twitter</div>
			<input type="checkbox" id="socialsharing_twitter" class="js-switch" ui-switch switchery-var="user.enable_twitter" ng-checked="user.enable_twitter == 1"  />
		</div>	
	</div>
</div>