<div id="signup_dialog">
	<div class="modal_header">
		<div class="titlebar"><div class="button_close" ng-click="onCloseButton_click()"></div></div>
		<img src="/images/icon_star_logo.png" />Create an Account
	</div>
	<div class="contents">
		<div class="error" ng-if="error != ''">{{ error }}</div>
		<input type="text" id="text_username" name="text_username" placeholder="Username" /><BR />
		<input type="text" id="text_first_name" name="text_first_name" placeholder="First Name" /><BR />
		<input type="text" id="text_last_name" name="text_last_name" placeholder="Last Name" /><BR />
		<input type="text" id="text_email" name="text_email" placeholder="Email" /><BR />
		<input type="password" id="text_password" name="text_password" placeholder="Password" /><BR />
		<input type="password" id="text_password1" name="text_password1" placeholder="Confirm password" ng-keyup="$event.keyCode == 13 ? onSignupButton_click() : null" /><BR />
		<button id="button_signup" ng-click="onSignupButton_click()">Sign up</button><BR>
	</div>
</div>