<div  id="userinfo_update_panel" class="contents">
	<fieldset>
		<legend style="margin-bottom:0px"><center>Syndicate</center></legend>

		<div id="socialsharing_panel" class="settings_frame" style="border:0px;">
			<div class="contents">
				<div class="field">
				<center>
					<label for="text_state" class="label_facebook" ng-click="shareOnFacebook(post)" style="float:none;">Post to Facebook &gt;</label>
				</center>
				</div>	
				<div class="field">
				<center>
					<label for="text_state" class="label_twitter" ng-click="shareOnTwitter(post)" style="float:none;">Post to Twitter &gt;</label>
				</center>
				</div>	
			</div>
		</div>
	</fieldset>
</div>

