<div id="title_background"><div class="top_title">Videos</div></div>
<div class="filterBox">
	<li class="dropdown">
		<a class="dropdown-toggle">{{ filter }}<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li ng-repeat="filterItem in filterList"><a ng-click="onChangeFilter($event)" data-filter="{{filterItem}}">{{filterItem}}</a></li>
		</ul>
	</li>
	<div class="clear"></div>
</div>
<!--<ul class="feed_list video_feed_list">
	<li ng-repeat="post in feeds" class="feed_item" ng-if="filter == 'All' || filter == post.tags" ng-click="onViewPostDetail($event, true, post, star);">
		<div class="post_thumbnail">
			<img ng-src="{{ post.image_path }}" />
			<div class="play_icon"></div>
			<div class="locked_layer" ng-if="post.unlock == false" ng-click="onUnlockContent(post, 'video', post.id)">
				<div class="key">{{post.credit}} Credits</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="post_description" ng-if="post.description != null">{{ post.description }}</div>
		<div class="button_star float-right" data-content-id="{{ post.id }}" data-post-type="video" ng-click="onButtonStar_click($event)" ng-if="!post.did_like"></div>
		<div class="button_star1 float-right" data-content-id="{{ post.id }}" data-post-type="video" ng-if="post.did_like"></div>
		<div class="post_like_count float-right">{{ post.numberoflike }}</div>
		<div class="button_facebook float-right" data-id="{{ post.id }}"></div>
		<div class="button_twitter float-right" data-id="{{ post.id }}"></div>
		<div class="clear"></div>
	</li>
</ul>-->
<ul class="feed_list" infinite-scroll="loadData()">
	<li ng-repeat="post in feeds" feeditem class="feed_item">
	</li>
</ul>