<div id="title_background"><div class="top_title">My Profile</div></div>
<div class="profile_container">
	<img class="user_photo" ng-src="{{ user.img_url }}" ng-if="user.img_url != ''" />
	<img class="user_photo" ng-src="/images/default_photo.png" ng-if="user.img_url == ''" />
	<div class="name">{{user.name}}</div>
	<div class="buttons">
		<button id="button_follow" ng-if="current_user != null && current_user.id != user.id" data-user-id="{{ user.id }}" data-follow-status="{{ user.did_follow }}" ng-click="onButtonFollowUser_click($event)">{{follow_button_text}}</button>
		<button id="button_message" ng-if="current_user != null && current_user.id != user.id" data-user-id="{{ user.id }}" ng-click="onButtonMessageUser_click($event)">Message</button>
		<button ng-click="onButtonSettings_click()" id="button_settings" ng-if="current_user != null && current_user.id == user.id">Settings</button>
		<button ng-click="onButtonInbox_click()" id="button_message" ng-if="current_user != null && current_user.id == user.id">Inbox({{user.numberofunreadmessage}})</button>
	</div>
	<div class="meta-info-box">
		<div class="followers"><div class="number">{{user.followings_count}}</div>Followers</div>
		<div class="followings"><div class="number">{{user.followeds_count}}</div>Following</div>
		<div class="points"><div class="number">{{user.point}}</div>Points</div>
	</div>
</div>
<div class="clear"></div>
<div class="community_new_post_box" newpost ng-if="current_user != null && current_user.id == user.id" style="margin-top:20px;">
	
</div>
<div class="filterBox" ng-class="{myfeed:filter==0,unlockedcontent:filter==1,mylike:filter==2}" ng-if="current_user != null && current_user.id == user.id">
	<a ng-click="onChangeFilter_click($event)" data-filter="0" class="profile_filter myfeed" ng-class="{active: filter==0}">My Feed</a>
	<a ng-click="onChangeFilter_click($event)" data-filter="1" class="profile_filter unlockedcontent" ng-class="{active: filter==1}">Unlocked Content</a>
	<a ng-click="onChangeFilter_click($event)" data-filter="2" class="profile_filter mylike" ng-class="{active: filter==2}">My Like</a>
	<div class="clear"></div>
</div>

<ul class="feed_list" ng-if="filter==0" style="margin-top:20px;">
	<li ng-repeat="post in feeds" feeditem class="feed_item">
	</li>
</ul>