<div id="message_wrapper">
<div class="from"><label>From : </label>{{message.name}}</div>
<div class="from"><label>To : </label>{{current_user.name}}</div>
<div class="message" data-ng-bind-html="message_text"></div>
<button ng-click="onReplyMessage_click()" id="button_reply" >Reply</button>
<div class="clear"></div>
</div>