/* jQuery Resize And Crop (jrac) */

.jrac_container {
    margin-bottom: 1em;
}

.jrac_viewport {
	position: relative;
	overflow: hidden;
	width: -moz-calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	width: -o-calc(100% - 10px);
	width: calc(100% - 10px);
	height: -moz-calc(100% - 23px);
	height: -webkit-calc(100% - 23px);
	height: -o-calc(100% - 23px);
	height: calc(100% - 23px);
	border: dashed 5px #999;
	background-image: url('images/viewport_background.gif');
}

.jrac_loading {
  background-image: url('images/loading.gif');
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
}

.jrac_crop {
  position: absolute;
  border: 2px solid #39F;
}

.jrac_crop_drag_handler {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: rgba(0, 96, 255, 0.2);
}

.jrac_viewport img, .jrac_crop_drag_handler {
  cursor: pointer;
}
.jrac_zoom_slider_label {
    margin-top: .5em;
}