body.viewpost {background-image:none !important; background:#d7d7d7 !important;}

#scrollbar1
{
    width:100%;
    margin:0px;
    position: relative;
}

#scrollbar1 .viewport
{
    /*height: 300px; */width:100%;
    overflow:hidden;
    position:relative;
    /*background: #dedede;*/ height:360px;
}

#scrollbar1 .overview
{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding: 10px 0; width:100%;
}

#scrollbar1 .scrollbar
{
    background:transparent url(../scroll_css/bg-scrollbar-track-y.png) no-repeat 0 0;
    position:absolute;
    background-position:0 0;
    right: -10px;
    top:0;
    width:10px;
	height:360px !important;
}

#scrollbar1 .track
{
    /*background:transparent url(../scroll_css/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/ background:#c9c9c9;
    height:100%;
    width:10px;
    position:relative;
    padding:0 1px;height:360px !important;
}

#scrollbar1 .thumb
{
    /*background:transparent url(../scroll_css/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;*/ background:#666;
    height:20px;
    width:8px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:2px;
    left:1px; /*margin-top:2px;*/
}

#scrollbar1 .thumb .end
{
    /*background:transparent url(../scroll_css/bg-scrollbar-thumb-y.png) no-repeat 50% 0;*/
    overflow:hidden;
    height:5px;
    width:9px;
}

#scrollbar1 .disable
{
    display:none;
}

.noSelect
{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}

.new_top_head {max-width:1050px;}

.ng-scope-video-top {background:#141414;}
.ng-scope_video {width:67%; float:left; margin:0; padding:0;}
ul.list_view {margin:0; list-style:none; font:12px "Lato", Helvetica !important; width:33%; float:left; background:#262626; padding:0;}
ul.list_view li {padding:8px; margin:0; border-bottom:1px solid rgba(0, 0, 0, .09); text-align:left;}
ul.list_view li:hover { cursor:pointer; background:#CCC;}
ul.list_view li span.thumb_video_list {float:left; margin-right:10px; width:25%;}
ul.list_view li p {float:left; width:65%; margin:0; margin:0 0 0 10px; font-size:11px !important;}
ul.list_view li p strong {display:block; margin-top:2px; color:#ffffff;}
ul.list_view li p span {color:#666; margin-top:1px;}

ul.list_view #scrollbar1 .scrollbar {display:none;}
ul.list_view:hover #scrollbar1 .scrollbar {display:block;}

ul.list_view li:hover p strong {color:#333;}

ul.list_view li div.clear {margin:0;}
.video_view {max-width:960px !important;}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block; display:none;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
  ul.tab-links {margin:0; padding:0;}
    .tab-links li {
        margin:0px;
        float:left; width:50%;
        list-style:none;
    }
	.tab-links li:first-child {border-right:1px solid #CCC;}
 
        .tab-links a {
            padding:14px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#1b1b1b;
            font-size:15px;
            font-weight:600;
            color:#4c4c4c; width:100%;
            transition:all linear 0.15s; text-decoration:none;
        }
 
        .tab-links a:hover {
            background:#121212;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#121212;
        color:#ffffff;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content { color:#ffffff;
        padding:15px;
        /*border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
        background:#262626;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
		
.post_comments_web {display:block; background:none;}
.post_comments_web ul.list_view {display:block; background:none !important;}
.feed_list .feed_item .post_comments {width:67%; float:left;}

.advertising_space {width:30%; padding:0 1%; float:left;}

.time_comments { margin:0; padding:0; width:100%; /*float:left;*/}
.time_comments span { margin:0; padding:0; color:#CCC;}
.time_comments input {border:1px solid #CCC; color:#666; display:block; width:100%; border-radius:5px !important; padding:5px; margin-top:10px;}

.top_video {background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  #000000 0%, #262626 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#262626)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000000 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000000 0%,#262626 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000000 0%,#262626 100%); /* IE10+ */
background: linear-gradient(to bottom,  #000000 0%,#262626 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}
.feed_list .feed_item div.clear {margin:0; padding:0;}

.login_top {float:right; }
.login_top a {color:#ffffff; font-size:12px; border:1px solid #ffffff; padding:8px 12px; text-decoration:none;display:block;}
.top_video .top_title {border:0; float:left; width:87%; font-size:30px;}
.top_video .container {width:960px;}
.top_video .clear {margin:0;}

.feed_list .feed_item .post_description {padding-top:0; border-top:0; padding-bottom:0; width:80%; float:left;}
.feed_list .feed_item .post_comments {border:0 !important;}
@media (max-width:789px) {
	
.ng-scope_video {width:100%; float:none;}
ul.list_view {width:100%; float:none;}
.list_view {display:none;}	
.tabs { display:inline-block;}
.tabs .list_view {display:block;}
ul.feed_list {padding:0 !important;}
.comments_list .thumb_video_list img {width:60px; height:60px; border-radius:50% !important;}

#container #page {padding:0 !important; margin:0 !important; width:100%;}
ul.list_view {margin:0;}
ul.comments_list {background:#ffffff;}
ul.comments_list li p strong {color:#121212; float:left;}
ul.list_view li p span {float:right; margin-left:10px;}
.login_top {padding:2px 0px;}
li.list_view {padding:0 10px 10px 10px;}
li.list_view input {border:1px solid #999; padding:5px 8px; width:90%;}
li.list_view span.time {color:#999; font-style:italic;}
/*ul.list_view li span {color:#999; font-style:inherit;}*/
.tab-content {padding:0; margin:0;}

.post_comments_web, .post_comments {display:none;}
ul.list_view li p strong {width:100%; float:none;}
ul.list_view li p span {width:100%;}
.feed_list {border-radius:0;}
.feed_list .feed_item {margin-bottom:0 !important;}
.mobile_comments {display:block;}
.animated-slide-2 {margin-top:-14px;}
.feed_list .feed_item .post_comments {width:100%;}

.advertising_space {display:none;}

#tab1 .list_view {display:none;}

ul.list_view li span.thumb_video_list img{width:85px;}
.top_video .container {width:100%;}
.video_view {max-width:100% !important;}
#container #page {width:100% !important;}
.top_video .container {padding:0;}
#title_background { margin-top:5px !important; padding:0 10px !important;margin-bottom:0px !important; background:#121212;}
.top_video .top_title {width:65%; font-size:21px;}
#feedTag2 {margin:0 !important; visibility: hidden; display: none; }
.post_frame {margin-top:2px;}
}
